# CallCenterExample Data 날짜 형식 바꾸기

In [1]:
call <- read.csv('C:\\Users\\진수빈\\Downloads\\CallcenterExample.csv')
head(call)

  Service.ID Operation     Start.Date    End.Date      Agent.Position
1 Case 1     Inbound Call  9.3.10 8:05   9.3.10 8:10   FL
2 Case 1     Handle Case   11.3.10 10:30 11.3.10 10:32 FL
3 Case 1     Call Outbound 11.3.10 11:45 11.3.10 11:52 FL
4 Case 2     Inbound Call  4.3.10 11:43  4.3.10 11:46  FL
5 Case 3     Inbound Call  25.3.10 9:32  25.3.10 9:33  FL
6 Case 4     Inbound Call  6.3.10 11:41  6.3.10 11:51  FL
  Customer.ID Product     Service.Type         Agent
1 Customer 1  MacBook Pro Referred to Servicer Helen
2 Customer 1  MacBook Pro Referred to Servicer Helen
3 Customer 1  MacBook Pro Referred to Servicer Henk
4 Customer 2  MacBook Pro Referred to Servicer Susi
5 Customer 3  MacBook Pro Referred to Servicer Mary
6 Customer 4  iPhone      Referred to Servicer Fred

In [3]:
sded <- subset(call, select = c(Start.Date, End.Date))
head(sded)

  Start.Date    End.Date
1 9.3.10 8:05   9.3.10 8:10
2 11.3.10 10:30 11.3.10 10:32
3 11.3.10 11:45 11.3.10 11:52
4 4.3.10 11:43  4.3.10 11:46
5 25.3.10 9:32  25.3.10 9:33
6 6.3.10 11:41  6.3.10 11:51

In [7]:
std <- strsplit(as.character(sded$Start.Date), split = " ")
head(std)

[[1]]
[1] "9.3.10" "8:05"

[[2]]
[1] "11.3.10" "10:30"

[[3]]
[1] "11.3.10" "11:45"

[[4]]
[1] "4.3.10" "11:43"

[[5]]
[1] "25.3.10" "9:32"

[[6]]
[1] "6.3.10" "11:41"

## sapply

In [10]:
std <- data.frame(t(sapply(std, '[')))
head(std)

   X1      X2
X1 9.3.10  8:05
X2 11.3.10 10:30
X3 11.3.10 11:45
X4 4.3.10  11:43
X5 25.3.10 9:32
X6 6.3.10  11:41

#### split 단위를 .으로 할 때는 "\\\\\."으로 해야 한다
#### 정규식 표현 때문에 그렇다고 함

In [13]:
stdate <- strsplit(as.character(std$X1), split = "\\.")
head(stdate)

[[1]]
[1] "9"  "3"  "10"

[[2]]
[1] "11" "3"  "10"

[[3]]
[1] "11" "3"  "10"

[[4]]
[1] "4"  "3"  "10"

[[5]]
[1] "25" "3"  "10"

[[6]]
[1] "6"  "3"  "10"

In [15]:
spstdate <- data.frame(t(sapply(stdate, '[')))
head(spstdate)

  X1 X2 X3
1 9  3  10
2 11 3  10
3 11 3  10
4 4  3  10
5 25 3  10
6 6  3  10

#### X1의 경우 조건부로 뭔가 붙일 때 데이터의 형식이 다르면 오류가 나는 경우가 있어 모두 character로 적용함

In [16]:
spstdate$X3 <- paste0("20", spstdate$X3)
spstdate$X2 <- paste0("0", spstdate$X2)
spstdate$X1 <- ifelse(nchar(as.character(spstdate$X1)) == 1, paste0("0", as.character(spstdate$X1)), as.character(spstdate$X1))
head(spstdate)

  X1 X2 X3
1 09 03 2010
2 11 03 2010
3 11 03 2010
4 04 03 2010
5 25 03 2010
6 06 03 2010

In [18]:
spstdate$DATE <- paste0(spstdate$X3, "-", spstdate$X2, "-", spstdate$X1)
head(spstdate)

  X1 X2 X3   DATE
1 09 03 2010 2010-03-09
2 11 03 2010 2010-03-11
3 11 03 2010 2010-03-11
4 04 03 2010 2010-03-04
5 25 03 2010 2010-03-25
6 06 03 2010 2010-03-06

In [22]:
std$time <- ifelse(nchar(as.character(std$X2)) == 4, paste0("0", std$X2), as.character(std$X2))
head(std)

   X1      X2    time
X1 9.3.10  8:05  08:05
X2 11.3.10 10:30 10:30
X3 11.3.10 11:45 11:45
X4 4.3.10  11:43 11:43
X5 25.3.10 9:32  09:32
X6 6.3.10  11:41 11:41

In [24]:
call$SDT <- paste(spstdate$DATE, std$time)
head(call)

  Service.ID Operation     Start.Date    End.Date      Agent.Position
1 Case 1     Inbound Call  9.3.10 8:05   9.3.10 8:10   FL
2 Case 1     Handle Case   11.3.10 10:30 11.3.10 10:32 FL
3 Case 1     Call Outbound 11.3.10 11:45 11.3.10 11:52 FL
4 Case 2     Inbound Call  4.3.10 11:43  4.3.10 11:46  FL
5 Case 3     Inbound Call  25.3.10 9:32  25.3.10 9:33  FL
6 Case 4     Inbound Call  6.3.10 11:41  6.3.10 11:51  FL
  Customer.ID Product     Service.Type         Agent SDT
1 Customer 1  MacBook Pro Referred to Servicer Helen 2010-03-09 08:05
2 Customer 1  MacBook Pro Referred to Servicer Helen 2010-03-11 10:30
3 Customer 1  MacBook Pro Referred to Servicer Henk  2010-03-11 11:45
4 Customer 2  MacBook Pro Referred to Servicer Susi  2010-03-04 11:43
5 Customer 3  MacBook Pro Referred to Servicer Mary  2010-03-25 09:32
6 Customer 4  iPhone      Referred to Servicer Fred  2010-03-06 11:41

In [25]:
etd <- strsplit(as.character(sded$End.Date), split = " ")
head(etd)

[[1]]
[1] "9.3.10" "8:10"

[[2]]
[1] "11.3.10" "10:32"

[[3]]
[1] "11.3.10" "11:52"

[[4]]
[1] "4.3.10" "11:46"

[[5]]
[1] "25.3.10" "9:33"

[[6]]
[1] "6.3.10" "11:51"

In [27]:
etd <- data.frame(t(sapply(etd, '[')))
head(etd)

  X1      X2
1 9.3.10  8:10
2 11.3.10 10:32
3 11.3.10 11:52
4 4.3.10  11:46
5 25.3.10 9:33
6 6.3.10  11:51

In [30]:
edate <- strsplit(as.character(etd$X1), split = "\\.")
edate <- data.frame(t(sapply(edate, '[')))
head(edate)

  X1 X2 X3
1 9  3  10
2 11 3  10
3 11 3  10
4 4  3  10
5 25 3  10
6 6  3  10

In [31]:
edate$X3 <- paste0("20", edate$X3)
edate$X2 <- paste0("0", edate$X2)
edate$X1 <- ifelse(nchar(as.character(edate$X1)) == 1, paste0("0", as.character(edate$X1)), as.character(edate$X1))
head(edate)

  X1 X2 X3
1 09 03 2010
2 11 03 2010
3 11 03 2010
4 04 03 2010
5 25 03 2010
6 06 03 2010

In [33]:
edate$EDATE <- paste(edate$X3, "-", edate$X2, "-", edate$X1)
head(edate)

  X1 X2 X3   EDATE
1 09 03 2010 2010 - 03 - 09
2 11 03 2010 2010 - 03 - 11
3 11 03 2010 2010 - 03 - 11
4 04 03 2010 2010 - 03 - 04
5 25 03 2010 2010 - 03 - 25
6 06 03 2010 2010 - 03 - 06

In [34]:
etd$time <- ifelse(nchar(as.character(etd$X2)) == 4, paste0("0", etd$X2), as.character(etd$X2))
head(etd)

  X1      X2    time
1 9.3.10  8:10  08:10
2 11.3.10 10:32 10:32
3 11.3.10 11:52 11:52
4 4.3.10  11:46 11:46
5 25.3.10 9:33  09:33
6 6.3.10  11:51 11:51

In [35]:
call$EDT <- paste(edate$EDATE, etd$time)
head(call)

  Service.ID Operation     Start.Date    End.Date      Agent.Position
1 Case 1     Inbound Call  9.3.10 8:05   9.3.10 8:10   FL
2 Case 1     Handle Case   11.3.10 10:30 11.3.10 10:32 FL
3 Case 1     Call Outbound 11.3.10 11:45 11.3.10 11:52 FL
4 Case 2     Inbound Call  4.3.10 11:43  4.3.10 11:46  FL
5 Case 3     Inbound Call  25.3.10 9:32  25.3.10 9:33  FL
6 Case 4     Inbound Call  6.3.10 11:41  6.3.10 11:51  FL
  Customer.ID Product     Service.Type         Agent SDT
1 Customer 1  MacBook Pro Referred to Servicer Helen 2010-03-09 08:05
2 Customer 1  MacBook Pro Referred to Servicer Helen 2010-03-11 10:30
3 Customer 1  MacBook Pro Referred to Servicer Henk  2010-03-11 11:45
4 Customer 2  MacBook Pro Referred to Servicer Susi  2010-03-04 11:43
5 Customer 3  MacBook Pro Referred to Servicer Mary  2010-03-25 09:32
6 Customer 4  iPhone      Referred to Servicer Fred  2010-03-06 11:41
  EDT
1 2010 - 03 - 09 08:10
2 2010 - 03 - 11 10:32
3 2010 - 03 - 11 11:52
4 2010 - 03 - 04 11:46
5 2010 - 03 - 25 09:33
6 2010 - 03 - 06 11:51

In [37]:
call$Start.Date <- call$SDT
call$End.Date <- call$EDT
call2 <- subset(call, select = c(-SDT, -EDT))
head(call2)

  Service.ID Operation     Start.Date       End.Date             Agent.Position
1 Case 1     Inbound Call  2010-03-09 08:05 2010 - 03 - 09 08:10 FL
2 Case 1     Handle Case   2010-03-11 10:30 2010 - 03 - 11 10:32 FL
3 Case 1     Call Outbound 2010-03-11 11:45 2010 - 03 - 11 11:52 FL
4 Case 2     Inbound Call  2010-03-04 11:43 2010 - 03 - 04 11:46 FL
5 Case 3     Inbound Call  2010-03-25 09:32 2010 - 03 - 25 09:33 FL
6 Case 4     Inbound Call  2010-03-06 11:41 2010 - 03 - 06 11:51 FL
  Customer.ID Product     Service.Type         Agent
1 Customer 1  MacBook Pro Referred to Servicer Helen
2 Customer 1  MacBook Pro Referred to Servicer Helen
3 Customer 1  MacBook Pro Referred to Servicer Henk
4 Customer 2  MacBook Pro Referred to Servicer Susi
5 Customer 3  MacBook Pro Referred to Servicer Mary
6 Customer 4  iPhone      Referred to Servicer Fred

#### 끝