# 003_NIPA 조선 해양 과제 Handling
## 1. Process가 NA이면 공정 - 이동, 아니면 공정 - 작업으로 공정명 변경
## 2. 시작, 끝, Process, Navigate 컬럼 시간형식 바꾸기
## 3. 도로명 안에 있는 , 제거하기
## 4. 공정 Code명 공정명으로 변경하기
## 5. '끝'이 Null인 값 처리
## 6. 중량, 거리 컬럼값 Integer 변환 : ProDiscovery에서 Int만 인식함..
## 7. 작업 / 이동 따로 분리하기
## 8. Process, Navigate 가설

In [2]:
install.packages("dplyr")
library(dplyr)
install.packages("readxl")
library(readxl)
install.packages("lubridate")
library(lubridate)

package 'dplyr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'dplyr'"

The downloaded binary packages are in
	C:\Temp\Rtmpmse42s\downloaded_packages

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

package 'readxl' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'readxl'"

The downloaded binary packages are in
	C:\Temp\Rtmpmse42s\downloaded_packages
package 'lubridate' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'lubridate'"

The downloaded binary packages are in
	C:\Temp\Rtmpmse42s\downloaded_packages

Attaching package: 'lubridate'

The following object is masked from 'package:base':

    date

In [56]:
nipa <- read_xlsx("C:\\Users\\진수빈\\Downloads\\180822_Simulation_Results.xlsx")

In [57]:
head(nipa)

  공정   시작                    끝
1 BSA000 2016-12-07 오전 1:12:00 2016-12-07 오전 1:12:00
2 BSA000 2016-12-07 오전 1:12:00 2017-03-22 오전 3:08:42
3 BSA000 2016-12-13 오전 1:12:00 2016-12-13 오전 1:12:00
4 BSA000 2016-12-13 오전 1:12:00 2017-04-17 오전 1:13:47
5 BSA000 2016-12-19 오전 1:12:00 2016-12-19 오전 1:12:00
6 BSA000 2016-12-19 오전 1:12:00 2017-03-16 오전 12:46:19
  Process                  설비 제품       중량  Navigate 도로 공장 거리
1 NA                       #101 1040_988_0  82.1 NA       NA   PO30 0
2 2017-03-22 오전 3:08:42  NA   1040_988_0  82.1 NA       NA   PO30 0
3 NA                       #101 1047_998_0  96.3 NA       NA   DM30 0
4 2017-04-17 오전 1:13:47  NA   1047_998_0  96.3 NA       NA   DM30 0
5 NA                       #354 1002_131_3 283.0 NA       NA   3D3B 0
6 2017-03-16 오전 12:46:19 NA   1002_131_3 283.0 NA       NA   3D3B 0

## 1. Process가 NA이면 공정 - 이동, 아니면 공정 - 작업으로 공정명 변경

In [58]:
nipa$공정 <- ifelse(is.na(nipa$Process) == TRUE, paste0(nipa$공정, "_이동"), paste0(nipa$공정, "_작업"))
head(nipa)

  공정        시작                    끝
1 BSA000_이동 2016-12-07 오전 1:12:00 2016-12-07 오전 1:12:00
2 BSA000_작업 2016-12-07 오전 1:12:00 2017-03-22 오전 3:08:42
3 BSA000_이동 2016-12-13 오전 1:12:00 2016-12-13 오전 1:12:00
4 BSA000_작업 2016-12-13 오전 1:12:00 2017-04-17 오전 1:13:47
5 BSA000_이동 2016-12-19 오전 1:12:00 2016-12-19 오전 1:12:00
6 BSA000_작업 2016-12-19 오전 1:12:00 2017-03-16 오전 12:46:19
  Process                  설비 제품       중량  Navigate 도로 공장 거리
1 NA                       #101 1040_988_0  82.1 NA       NA   PO30 0
2 2017-03-22 오전 3:08:42  NA   1040_988_0  82.1 NA       NA   PO30 0
3 NA                       #101 1047_998_0  96.3 NA       NA   DM30 0
4 2017-04-17 오전 1:13:47  NA   1047_998_0  96.3 NA       NA   DM30 0
5 NA                       #354 1002_131_3 283.0 NA       NA   3D3B 0
6 2017-03-16 오전 12:46:19 NA   1002_131_3 283.0 NA       NA   3D3B 0

## 2. 시작, 끝, Process, Navigate 컬럼 시간형식 바꾸기

### 1) 시작

In [59]:
st <- nipa$시작
head(st)
class(st)

[1] "2016-12-07 오전 1:12:00" "2016-12-07 오전 1:12:00"
[3] "2016-12-13 오전 1:12:00" "2016-12-13 오전 1:12:00"
[5] "2016-12-19 오전 1:12:00" "2016-12-19 오전 1:12:00"

[1] "character"

In [60]:
st <- strsplit(st, split = " ")
head(st)

[[1]]
[1] "2016-12-07" "오전"       "1:12:00"

[[2]]
[1] "2016-12-07" "오전"       "1:12:00"

[[3]]
[1] "2016-12-13" "오전"       "1:12:00"

[[4]]
[1] "2016-12-13" "오전"       "1:12:00"

[[5]]
[1] "2016-12-19" "오전"       "1:12:00"

[[6]]
[1] "2016-12-19" "오전"       "1:12:00"

In [61]:
st <- data.frame(t(sapply(st, '[')))
head(st)

  X1         X2   X3
1 2016-12-07 오전 1:12:00
2 2016-12-07 오전 1:12:00
3 2016-12-13 오전 1:12:00
4 2016-12-13 오전 1:12:00
5 2016-12-19 오전 1:12:00
6 2016-12-19 오전 1:12:00

In [62]:
class(st$X2)

[1] "factor"

In [63]:
st$X2 <- as.character(st$X2)
head(st)
class(st$X2)

  X1         X2   X3
1 2016-12-07 오전 1:12:00
2 2016-12-07 오전 1:12:00
3 2016-12-13 오전 1:12:00
4 2016-12-13 오전 1:12:00
5 2016-12-19 오전 1:12:00
6 2016-12-19 오전 1:12:00

[1] "character"

In [64]:
st$X2 <- ifelse(st$X2 == "오전", st$X2 <- "am", st$X2 <- "pm")
head(st)

  X1         X2 X3
1 2016-12-07 am 1:12:00
2 2016-12-07 am 1:12:00
3 2016-12-13 am 1:12:00
4 2016-12-13 am 1:12:00
5 2016-12-19 am 1:12:00
6 2016-12-19 am 1:12:00

In [65]:
st$X4 <- paste(st$X1, st$X3, st$X2)
head(st)

  X1         X2 X3      X4
1 2016-12-07 am 1:12:00 2016-12-07 1:12:00 am
2 2016-12-07 am 1:12:00 2016-12-07 1:12:00 am
3 2016-12-13 am 1:12:00 2016-12-13 1:12:00 am
4 2016-12-13 am 1:12:00 2016-12-13 1:12:00 am
5 2016-12-19 am 1:12:00 2016-12-19 1:12:00 am
6 2016-12-19 am 1:12:00 2016-12-19 1:12:00 am

In [66]:
st$X5 <- parse_date_time(st$X4, c("%Y-%m-%d %H:%M:%S %p"))
head(st)
# pm이 제대로 변환 됐는지 확인하기 위해 20개 봄
tail(st, 20)

  X1         X2 X3      X4                    X5
1 2016-12-07 am 1:12:00 2016-12-07 1:12:00 am 2016-12-07 01:12:00
2 2016-12-07 am 1:12:00 2016-12-07 1:12:00 am 2016-12-07 01:12:00
3 2016-12-13 am 1:12:00 2016-12-13 1:12:00 am 2016-12-13 01:12:00
4 2016-12-13 am 1:12:00 2016-12-13 1:12:00 am 2016-12-13 01:12:00
5 2016-12-19 am 1:12:00 2016-12-19 1:12:00 am 2016-12-19 01:12:00
6 2016-12-19 am 1:12:00 2016-12-19 1:12:00 am 2016-12-19 01:12:00

     X1         X2 X3       X4                     X5
3580 2017-10-17 am 3:31:55  2017-10-17 3:31:55 am  2017-10-17 03:31:55
3581 2017-10-17 am 3:34:46  2017-10-17 3:34:46 am  2017-10-17 03:34:46
3582 2017-10-17 pm 4:51:06  2017-10-17 4:51:06 pm  2017-10-17 16:51:06
3583 2017-10-17 pm 7:32:12  2017-10-17 7:32:12 pm  2017-10-17 19:32:12
3584 2017-10-18 am 12:22:26 2017-10-18 12:22:26 am 2017-10-18 00:22:26
3585 2017-10-18 am 12:22:26 2017-10-18 12:22:26 am 2017-10-18 00:22:26
3586 2017-10-18 am 12:43:30 2017-10-18 12:43:30 am 2017-10-18 00:43:30
3587 2017-10-18 am 12:58:47 2017-10-18 12:58:47 am 2017-10-18 00:58:47
3588 2017-10-18 am 9:57:34  2017-10-18 9:57:34 am  2017-10-18 09:57:34
3589 2017-10-18 pm 1:13:34  2017-10-18 1:13:34 pm  2017-10-18 13:13:34
3590 2017-10-19 am 1:10:35  2017-10-19 1:10:35 am  2017-10-19 01:10:35
3591 2017-10-19 am 12:11:09 2017-10-19 12:11:09 am 2017-10-19 00:11:09
3592 2017-10-19 am 12:36:20 2017-10-19 12:36:20 am 2017-10-19 00:36:20
3593 2017-10-19 am 12:43:24 2017-10-19 12:43:24 am 2017-10-19 00:43:24
3594 2017-10-27 am 12:15:35 2017-10-27 12:15:35 am 2017-10-27 00:15:35
3595 2017-10-27 am 2:25:42  2017-10-27 2:25:42 am  2017-10-27 02:25:42
3596 2017-10-30 am 1:25:53  2017-10-30 1:25:53 am  2017-10-30 01:25:53
3597 2017-10-30 am 12:07:18 2017-10-30 12:07:18 am 2017-10-30 00:07:18
3598 2017-10-30 am 12:07:18 2017-10-30 12:07:18 am 2017-10-30 00:07:18
3599 2017-10-30 am 2:41:58  2017-10-30 2:41:58 am  2017-10-30 02:41:58

In [67]:
nipa$sttime <- st$X5
head(nipa)

  공정        시작                    끝
1 BSA000_이동 2016-12-07 오전 1:12:00 2016-12-07 오전 1:12:00
2 BSA000_작업 2016-12-07 오전 1:12:00 2017-03-22 오전 3:08:42
3 BSA000_이동 2016-12-13 오전 1:12:00 2016-12-13 오전 1:12:00
4 BSA000_작업 2016-12-13 오전 1:12:00 2017-04-17 오전 1:13:47
5 BSA000_이동 2016-12-19 오전 1:12:00 2016-12-19 오전 1:12:00
6 BSA000_작업 2016-12-19 오전 1:12:00 2017-03-16 오전 12:46:19
  Process                  설비 제품       중량  Navigate 도로 공장 거리
1 NA                       #101 1040_988_0  82.1 NA       NA   PO30 0
2 2017-03-22 오전 3:08:42  NA   1040_988_0  82.1 NA       NA   PO30 0
3 NA                       #101 1047_998_0  96.3 NA       NA   DM30 0
4 2017-04-17 오전 1:13:47  NA   1047_998_0  96.3 NA       NA   DM30 0
5 NA                       #354 1002_131_3 283.0 NA       NA   3D3B 0
6 2017-03-16 오전 12:46:19 NA   1002_131_3 283.0 NA       NA   3D3B 0
  sttime
1 2016-12-07 01:12:00
2 2016-12-07 01:12:00
3 2016-12-13 01:12:00
4 2016-12-13 01:12:00
5 2016-12-19 01:12:00
6 2016-12-19 01:12:00

### 2) 끝

In [68]:
et <- nipa$끝
head(et)
class(et)

[1] "2016-12-07 오전 1:12:00"  "2017-03-22 오전 3:08:42"
[3] "2016-12-13 오전 1:12:00"  "2017-04-17 오전 1:13:47"
[5] "2016-12-19 오전 1:12:00"  "2017-03-16 오전 12:46:19"

[1] "character"

In [69]:
et <- strsplit(et, split = " ")

In [70]:
et <- data.frame(t(sapply(et, '[')))
head(et)

  X1                                 X2
1 2016-12-07, 오전      , 1:12:00    2017-03-22, 오전      , 3:08:42
  X3                                 X4
1 2016-12-13, 오전      , 1:12:00    2017-04-17, 오전      , 1:13:47
  X5                                 X6
1 2016-12-19, 오전      , 1:12:00    2017-03-16, 오전      , 12:46:19
  X7                                 X8
1 2016-12-20, 오전      , 1:12:00    2017-03-17, 오전      , 12:48:46
  X9                                 X10                                ...
1 2016-12-20, 오전      , 1:12:00    2017-04-26, 오전      , 3:07:26    ...
  X3590                              X3591
1 2017-10-27, 오전      , 2:25:42    2017-10-19, 오전      , 12:43:24
  X3592                              X3593
1 2017-10-19, 오전      , 1:10:35    2017-10-27, 오전      , 12:15:35
  X3594                              X3595
1 2017-10-30, 오전      , 1:25:53    2017-10-30, 오전      , 12:07:18
  X3596                              X3597
1 2017-10-30, 오전      , 2:41:58    2017-10-30, 오전      , 12:07:18
  X3598                              X3599
1 2017-10-30, 오전      , 7:44:25    2017-10-30, 오전      , 11:39:00

### 왜 이런 오류가 생기는지 모르겠음
### 아무튼 생겼기 때문에 다른 방법으로 작업
### NA가 있어서 생긴 오류가 아닐까 추정됨

In [71]:
et <- nipa$끝

In [72]:
et2 <- as.data.frame(et)
head(et2)

  et
1 2016-12-07 오전 1:12:00
2 2017-03-22 오전 3:08:42
3 2016-12-13 오전 1:12:00
4 2017-04-17 오전 1:13:47
5 2016-12-19 오전 1:12:00
6 2017-03-16 오전 12:46:19

In [73]:
et2$X1 <- substr(et, 1, 10)
et2$X2 <- substr(et, 12, 13)
et2$X3 <- substr(et, 14, 22)
head(et2)

  et                       X1         X2   X3
1 2016-12-07 오전 1:12:00  2016-12-07 오전  1:12:00
2 2017-03-22 오전 3:08:42  2017-03-22 오전  3:08:42
3 2016-12-13 오전 1:12:00  2016-12-13 오전  1:12:00
4 2017-04-17 오전 1:13:47  2017-04-17 오전  1:13:47
5 2016-12-19 오전 1:12:00  2016-12-19 오전  1:12:00
6 2017-03-16 오전 12:46:19 2017-03-16 오전  12:46:19

In [74]:
et2$X2 <- as.character(et2$X2)
et2$X2 <- ifelse(et2$X2 == "오전", et2$X2 <- "am", et2$X2 <- "pm")
head(et2)

  et                       X1         X2 X3
1 2016-12-07 오전 1:12:00  2016-12-07 am  1:12:00
2 2017-03-22 오전 3:08:42  2017-03-22 am  3:08:42
3 2016-12-13 오전 1:12:00  2016-12-13 am  1:12:00
4 2017-04-17 오전 1:13:47  2017-04-17 am  1:13:47
5 2016-12-19 오전 1:12:00  2016-12-19 am  1:12:00
6 2017-03-16 오전 12:46:19 2017-03-16 am  12:46:19

In [75]:
et2$X4 <- paste(et2$X1, et2$X3, et2$X2)
head(et2)

  et                       X1         X2 X3        X4
1 2016-12-07 오전 1:12:00  2016-12-07 am  1:12:00  2016-12-07  1:12:00 am
2 2017-03-22 오전 3:08:42  2017-03-22 am  3:08:42  2017-03-22  3:08:42 am
3 2016-12-13 오전 1:12:00  2016-12-13 am  1:12:00  2016-12-13  1:12:00 am
4 2017-04-17 오전 1:13:47  2017-04-17 am  1:13:47  2017-04-17  1:13:47 am
5 2016-12-19 오전 1:12:00  2016-12-19 am  1:12:00  2016-12-19  1:12:00 am
6 2017-03-16 오전 12:46:19 2017-03-16 am  12:46:19 2017-03-16  12:46:19 am

In [76]:
et2$X5 <- parse_date_time(et2$X4, c("%Y-%m-%d %H:%M:%S %p"))
head(et2)

Warning message:
" 381 failed to parse."

  et                       X1         X2 X3        X4
1 2016-12-07 오전 1:12:00  2016-12-07 am  1:12:00  2016-12-07  1:12:00 am
2 2017-03-22 오전 3:08:42  2017-03-22 am  3:08:42  2017-03-22  3:08:42 am
3 2016-12-13 오전 1:12:00  2016-12-13 am  1:12:00  2016-12-13  1:12:00 am
4 2017-04-17 오전 1:13:47  2017-04-17 am  1:13:47  2017-04-17  1:13:47 am
5 2016-12-19 오전 1:12:00  2016-12-19 am  1:12:00  2016-12-19  1:12:00 am
6 2017-03-16 오전 12:46:19 2017-03-16 am  12:46:19 2017-03-16  12:46:19 am
  X5
1 2016-12-07 01:12:00
2 2017-03-22 03:08:42
3 2016-12-13 01:12:00
4 2017-04-17 01:13:47
5 2016-12-19 01:12:00
6 2017-03-16 00:46:19

### NA값이 있기 때문에 381개 변환실패

In [77]:
nipa$etime <- et2$X5
head(nipa)

  공정        시작                    끝
1 BSA000_이동 2016-12-07 오전 1:12:00 2016-12-07 오전 1:12:00
2 BSA000_작업 2016-12-07 오전 1:12:00 2017-03-22 오전 3:08:42
3 BSA000_이동 2016-12-13 오전 1:12:00 2016-12-13 오전 1:12:00
4 BSA000_작업 2016-12-13 오전 1:12:00 2017-04-17 오전 1:13:47
5 BSA000_이동 2016-12-19 오전 1:12:00 2016-12-19 오전 1:12:00
6 BSA000_작업 2016-12-19 오전 1:12:00 2017-03-16 오전 12:46:19
  Process                  설비 제품       중량  Navigate 도로 공장 거리
1 NA                       #101 1040_988_0  82.1 NA       NA   PO30 0
2 2017-03-22 오전 3:08:42  NA   1040_988_0  82.1 NA       NA   PO30 0
3 NA                       #101 1047_998_0  96.3 NA       NA   DM30 0
4 2017-04-17 오전 1:13:47  NA   1047_998_0  96.3 NA       NA   DM30 0
5 NA                       #354 1002_131_3 283.0 NA       NA   3D3B 0
6 2017-03-16 오전 12:46:19 NA   1002_131_3 283.0 NA       NA   3D3B 0
  sttime              etime
1 2016-12-07 01:12:00 2016-12-07 01:12:00
2 2016-12-07 01:12:00 2017-03-22 03:08:42
3 2016-12-13 01:12:00 2016-12-13 01:12:00
4 2016-12-13 01:12:00 2017-04-17 01:13:47
5 2016-12-19 01:12:00 2016-12-19 01:12:00
6 2016-12-19 01:12:00 2017-03-16 00:46:19

### 3) Porcess, Navigate는 같은 방법으로 '끝'과 같은 방법으로 처리

In [78]:
pt <- nipa$Process
head(pt)
pt2 <- as.data.frame(pt)
head(pt2)
pt2$X1 <- substr(pt, 1, 10)
pt2$X2 <- substr(pt, 12, 13)
pt2$X3 <- substr(pt, 15, 22)
head(pt2)
pt2$X2 <- ifelse(is.na(pt2$X2) == TRUE, pt2$X2, ifelse(pt2$X2 == "오전", pt2$X2 <- "am", et2$X2 <- "pm"))
head(pt2)
pt2$X4 <- ifelse(is.na(pt2$pt) == TRUE, pt2$pt, paste(pt2$X1, pt2$X3, pt2$X2))
head(pt2)
pt2$X5 <- parse_date_time(pt2$X4, c("%Y-%m-%d %H:%M:%S %p"))
head(pt2)
nipa$prc <- pt2$X5
head(nipa)

[1] NA                         "2017-03-22 오전 3:08:42"
[3] NA                         "2017-04-17 오전 1:13:47"
[5] NA                         "2017-03-16 오전 12:46:19"

  pt
1 NA
2 2017-03-22 오전 3:08:42
3 NA
4 2017-04-17 오전 1:13:47
5 NA
6 2017-03-16 오전 12:46:19

  pt                       X1         X2   X3
1 NA                       NA         NA   NA
2 2017-03-22 오전 3:08:42  2017-03-22 오전 3:08:42
3 NA                       NA         NA   NA
4 2017-04-17 오전 1:13:47  2017-04-17 오전 1:13:47
5 NA                       NA         NA   NA
6 2017-03-16 오전 12:46:19 2017-03-16 오전 12:46:19

  pt                       X1         X2 X3
1 NA                       NA         NA NA
2 2017-03-22 오전 3:08:42  2017-03-22 am 3:08:42
3 NA                       NA         NA NA
4 2017-04-17 오전 1:13:47  2017-04-17 am 1:13:47
5 NA                       NA         NA NA
6 2017-03-16 오전 12:46:19 2017-03-16 am 12:46:19

  pt                       X1         X2 X3       X4
1 NA                       NA         NA NA       NA
2 2017-03-22 오전 3:08:42  2017-03-22 am 3:08:42  2017-03-22 3:08:42 am
3 NA                       NA         NA NA       NA
4 2017-04-17 오전 1:13:47  2017-04-17 am 1:13:47  2017-04-17 1:13:47 am
5 NA                       NA         NA NA       NA
6 2017-03-16 오전 12:46:19 2017-03-16 am 12:46:19 2017-03-16 12:46:19 am

  pt                       X1         X2 X3       X4
1 NA                       NA         NA NA       NA
2 2017-03-22 오전 3:08:42  2017-03-22 am 3:08:42  2017-03-22 3:08:42 am
3 NA                       NA         NA NA       NA
4 2017-04-17 오전 1:13:47  2017-04-17 am 1:13:47  2017-04-17 1:13:47 am
5 NA                       NA         NA NA       NA
6 2017-03-16 오전 12:46:19 2017-03-16 am 12:46:19 2017-03-16 12:46:19 am
  X5
1 <NA>
2 2017-03-22 03:08:42
3 <NA>
4 2017-04-17 01:13:47
5 <NA>
6 2017-03-16 00:46:19

  공정        시작                    끝
1 BSA000_이동 2016-12-07 오전 1:12:00 2016-12-07 오전 1:12:00
2 BSA000_작업 2016-12-07 오전 1:12:00 2017-03-22 오전 3:08:42
3 BSA000_이동 2016-12-13 오전 1:12:00 2016-12-13 오전 1:12:00
4 BSA000_작업 2016-12-13 오전 1:12:00 2017-04-17 오전 1:13:47
5 BSA000_이동 2016-12-19 오전 1:12:00 2016-12-19 오전 1:12:00
6 BSA000_작업 2016-12-19 오전 1:12:00 2017-03-16 오전 12:46:19
  Process                  설비 제품       중량  Navigate 도로 공장 거리
1 NA                       #101 1040_988_0  82.1 NA       NA   PO30 0
2 2017-03-22 오전 3:08:42  NA   1040_988_0  82.1 NA       NA   PO30 0
3 NA                       #101 1047_998_0  96.3 NA       NA   DM30 0
4 2017-04-17 오전 1:13:47  NA   1047_998_0  96.3 NA       NA   DM30 0
5 NA                       #354 1002_131_3 283.0 NA       NA   3D3B 0
6 2017-03-16 오전 12:46:19 NA   1002_131_3 283.0 NA       NA   3D3B 0
  sttime              etime               prc
1 2016-12-07 01:12:00 2016-12-07 01:12:00 <NA>
2 2016-12-07 01:12:00 2017-03-22 03:08:42 2017-03-22 03:08:42
3 2016-12-13 01:12:00 2016-12-13 01:12:00 <NA>
4 2016-12-13 01:12:00 2017-04-17 01:13:47 2017-04-17 01:13:47
5 2016-12-19 01:12:00 2016-12-19 01:12:00 <NA>
6 2016-12-19 01:12:00 2017-03-16 00:46:19 2017-03-16 00:46:19

In [79]:
nv <- nipa$Navigate
head(nv)
nv2 <- as.data.frame(nv)
tail(nv)
nv2$X1 <- substr(nv, 1, 10)
nv2$X2 <- substr(nv, 12, 13)
nv2$X3 <- substr(nv, 15, 22)
tail(nv2)
nv2$X2 <- ifelse(is.na(nv2$X2) == TRUE, nv2$X2, ifelse(nv2$X2 == "오전", nv2$X2 <- "am", nv2$X2 <- "pm"))
tail(nv2)
nv2$X4 <- ifelse(is.na(nv2$X2) == TRUE, nv2$X2, paste(nv2$X1, nv2$X3, nv2$X2))
tail(nv2)
nv2$X5 <- parse_date_time(nv2$X4, c("%Y-%m-%d %H:%M:%S %p"))
tail(nv2)
nipa$nav <- nv2$X5
head(nipa)

[1] NA NA NA NA NA NA

[1] "2017-10-27 오전 1:41:28" "2017-10-27 오전 2:33:00"
[3] "2017-10-30 오전 2:41:58" NA
[5] NA                        NA

     nv                      X1         X2   X3
3594 2017-10-27 오전 1:41:28 2017-10-27 오전 1:41:28
3595 2017-10-27 오전 2:33:00 2017-10-27 오전 2:33:00
3596 2017-10-30 오전 2:41:58 2017-10-30 오전 2:41:58
3597 NA                      NA         NA   NA
3598 NA                      NA         NA   NA
3599 NA                      NA         NA   NA

     nv                      X1         X2 X3
3594 2017-10-27 오전 1:41:28 2017-10-27 am 1:41:28
3595 2017-10-27 오전 2:33:00 2017-10-27 am 2:33:00
3596 2017-10-30 오전 2:41:58 2017-10-30 am 2:41:58
3597 NA                      NA         NA NA
3598 NA                      NA         NA NA
3599 NA                      NA         NA NA

     nv                      X1         X2 X3      X4
3594 2017-10-27 오전 1:41:28 2017-10-27 am 1:41:28 2017-10-27 1:41:28 am
3595 2017-10-27 오전 2:33:00 2017-10-27 am 2:33:00 2017-10-27 2:33:00 am
3596 2017-10-30 오전 2:41:58 2017-10-30 am 2:41:58 2017-10-30 2:41:58 am
3597 NA                      NA         NA NA      NA
3598 NA                      NA         NA NA      NA
3599 NA                      NA         NA NA      NA

     nv                      X1         X2 X3      X4
3594 2017-10-27 오전 1:41:28 2017-10-27 am 1:41:28 2017-10-27 1:41:28 am
3595 2017-10-27 오전 2:33:00 2017-10-27 am 2:33:00 2017-10-27 2:33:00 am
3596 2017-10-30 오전 2:41:58 2017-10-30 am 2:41:58 2017-10-30 2:41:58 am
3597 NA                      NA         NA NA      NA
3598 NA                      NA         NA NA      NA
3599 NA                      NA         NA NA      NA
     X5
3594 2017-10-27 01:41:28
3595 2017-10-27 02:33:00
3596 2017-10-30 02:41:58
3597 <NA>
3598 <NA>
3599 <NA>

  공정        시작                    끝
1 BSA000_이동 2016-12-07 오전 1:12:00 2016-12-07 오전 1:12:00
2 BSA000_작업 2016-12-07 오전 1:12:00 2017-03-22 오전 3:08:42
3 BSA000_이동 2016-12-13 오전 1:12:00 2016-12-13 오전 1:12:00
4 BSA000_작업 2016-12-13 오전 1:12:00 2017-04-17 오전 1:13:47
5 BSA000_이동 2016-12-19 오전 1:12:00 2016-12-19 오전 1:12:00
6 BSA000_작업 2016-12-19 오전 1:12:00 2017-03-16 오전 12:46:19
  Process                  설비 제품       중량  Navigate 도로 공장 거리
1 NA                       #101 1040_988_0  82.1 NA       NA   PO30 0
2 2017-03-22 오전 3:08:42  NA   1040_988_0  82.1 NA       NA   PO30 0
3 NA                       #101 1047_998_0  96.3 NA       NA   DM30 0
4 2017-04-17 오전 1:13:47  NA   1047_998_0  96.3 NA       NA   DM30 0
5 NA                       #354 1002_131_3 283.0 NA       NA   3D3B 0
6 2017-03-16 오전 12:46:19 NA   1002_131_3 283.0 NA       NA   3D3B 0
  sttime              etime               prc                 nav
1 2016-12-07 01:12:00 2016-12-07 01:12:00 <NA>                <NA>
2 2016-12-07 01:12:00 2017-03-22 03:08:42 2017-03-22 03:08:42 <NA>
3 2016-12-13 01:12:00 2016-12-13 01:12:00 <NA>                <NA>
4 2016-12-13 01:12:00 2017-04-17 01:13:47 2017-04-17 01:13:47 <NA>
5 2016-12-19 01:12:00 2016-12-19 01:12:00 <NA>                <NA>
6 2016-12-19 01:12:00 2017-03-16 00:46:19 2017-03-16 00:46:19 <NA>

In [80]:
nv <- nipa$Navigate
head(nv)
nv2 <- as.data.frame(nv)
tail(nv)
nv2$X1 <- substr(nv, 1, 10)
nv2$X2 <- substr(nv, 12, 13)
nv2$X3 <- substr(nv, 15, 22)
tail(nv2)
nv2$X2 <- ifelse(is.na(nv2$X2) == TRUE, nv2$X2, ifelse(nv2$X2 == "오전", nv2$X2 <- "am", nv2$X2 <- "pm"))
tail(nv2)
nv2$X4 <- ifelse(is.na(nv2$X2) == TRUE, nv2$X2, paste(nv2$X1, nv2$X3, nv2$X2))
tail(nv2)
nv2$X5 <- parse_date_time(nv2$X4, c("%Y-%m-%d %H:%M:%S %p"))
tail(nv2)
nipa$nav <- nv2$X5
head(nipa)

[1] NA NA NA NA NA NA

[1] "2017-10-27 오전 1:41:28" "2017-10-27 오전 2:33:00"
[3] "2017-10-30 오전 2:41:58" NA
[5] NA                        NA

     nv                      X1         X2   X3
3594 2017-10-27 오전 1:41:28 2017-10-27 오전 1:41:28
3595 2017-10-27 오전 2:33:00 2017-10-27 오전 2:33:00
3596 2017-10-30 오전 2:41:58 2017-10-30 오전 2:41:58
3597 NA                      NA         NA   NA
3598 NA                      NA         NA   NA
3599 NA                      NA         NA   NA

     nv                      X1         X2 X3
3594 2017-10-27 오전 1:41:28 2017-10-27 am 1:41:28
3595 2017-10-27 오전 2:33:00 2017-10-27 am 2:33:00
3596 2017-10-30 오전 2:41:58 2017-10-30 am 2:41:58
3597 NA                      NA         NA NA
3598 NA                      NA         NA NA
3599 NA                      NA         NA NA

     nv                      X1         X2 X3      X4
3594 2017-10-27 오전 1:41:28 2017-10-27 am 1:41:28 2017-10-27 1:41:28 am
3595 2017-10-27 오전 2:33:00 2017-10-27 am 2:33:00 2017-10-27 2:33:00 am
3596 2017-10-30 오전 2:41:58 2017-10-30 am 2:41:58 2017-10-30 2:41:58 am
3597 NA                      NA         NA NA      NA
3598 NA                      NA         NA NA      NA
3599 NA                      NA         NA NA      NA

     nv                      X1         X2 X3      X4
3594 2017-10-27 오전 1:41:28 2017-10-27 am 1:41:28 2017-10-27 1:41:28 am
3595 2017-10-27 오전 2:33:00 2017-10-27 am 2:33:00 2017-10-27 2:33:00 am
3596 2017-10-30 오전 2:41:58 2017-10-30 am 2:41:58 2017-10-30 2:41:58 am
3597 NA                      NA         NA NA      NA
3598 NA                      NA         NA NA      NA
3599 NA                      NA         NA NA      NA
     X5
3594 2017-10-27 01:41:28
3595 2017-10-27 02:33:00
3596 2017-10-30 02:41:58
3597 <NA>
3598 <NA>
3599 <NA>

  공정        시작                    끝
1 BSA000_이동 2016-12-07 오전 1:12:00 2016-12-07 오전 1:12:00
2 BSA000_작업 2016-12-07 오전 1:12:00 2017-03-22 오전 3:08:42
3 BSA000_이동 2016-12-13 오전 1:12:00 2016-12-13 오전 1:12:00
4 BSA000_작업 2016-12-13 오전 1:12:00 2017-04-17 오전 1:13:47
5 BSA000_이동 2016-12-19 오전 1:12:00 2016-12-19 오전 1:12:00
6 BSA000_작업 2016-12-19 오전 1:12:00 2017-03-16 오전 12:46:19
  Process                  설비 제품       중량  Navigate 도로 공장 거리
1 NA                       #101 1040_988_0  82.1 NA       NA   PO30 0
2 2017-03-22 오전 3:08:42  NA   1040_988_0  82.1 NA       NA   PO30 0
3 NA                       #101 1047_998_0  96.3 NA       NA   DM30 0
4 2017-04-17 오전 1:13:47  NA   1047_998_0  96.3 NA       NA   DM30 0
5 NA                       #354 1002_131_3 283.0 NA       NA   3D3B 0
6 2017-03-16 오전 12:46:19 NA   1002_131_3 283.0 NA       NA   3D3B 0
  sttime              etime               prc                 nav
1 2016-12-07 01:12:00 2016-12-07 01:12:00 <NA>                <NA>
2 2016-12-07 01:12:00 2017-03-22 03:08:42 2017-03-22 03:08:42 <NA>
3 2016-12-13 01:12:00 2016-12-13 01:12:00 <NA>                <NA>
4 2016-12-13 01:12:00 2017-04-17 01:13:47 2017-04-17 01:13:47 <NA>
5 2016-12-19 01:12:00 2016-12-19 01:12:00 <NA>                <NA>
6 2016-12-19 01:12:00 2017-03-16 00:46:19 2017-03-16 00:46:19 <NA>

In [81]:
nipa$시작 <- nipa$sttime
nipa$끝 <- nipa$etime
nipa$Process <- nipa$prc
nipa$Navigate <- nipa$nav
nipa <- subset(nipa, select = c(-sttime, -etime, -prc, -nav))

In [82]:
head(nipa)

  공정        시작                끝                  Process             설비
1 BSA000_이동 2016-12-07 01:12:00 2016-12-07 01:12:00 <NA>                #101
2 BSA000_작업 2016-12-07 01:12:00 2017-03-22 03:08:42 2017-03-22 03:08:42 NA
3 BSA000_이동 2016-12-13 01:12:00 2016-12-13 01:12:00 <NA>                #101
4 BSA000_작업 2016-12-13 01:12:00 2017-04-17 01:13:47 2017-04-17 01:13:47 NA
5 BSA000_이동 2016-12-19 01:12:00 2016-12-19 01:12:00 <NA>                #354
6 BSA000_작업 2016-12-19 01:12:00 2017-03-16 00:46:19 2017-03-16 00:46:19 NA
  제품       중량  Navigate 도로 공장 거리
1 1040_988_0  82.1 <NA>     NA   PO30 0
2 1040_988_0  82.1 <NA>     NA   PO30 0
3 1047_998_0  96.3 <NA>     NA   DM30 0
4 1047_998_0  96.3 <NA>     NA   DM30 0
5 1002_131_3 283.0 <NA>     NA   3D3B 0
6 1002_131_3 283.0 <NA>     NA   3D3B 0

## 3. 도로명 안에 있는 , 제거하기

In [83]:
tail(nipa)

  공정        시작                끝                  Process             설비
1 BZZBR0_이동 2017-10-27 00:15:35 2017-10-30 01:25:53 <NA>                #101
2 BZZBR0_이동 2017-10-27 02:25:42 2017-10-30 00:07:18 <NA>                #553
3 BZZBR0_이동 2017-10-30 01:25:53 2017-10-30 02:41:58 <NA>                #1032
4 BZZBR0_이동 2017-10-30 00:07:18 2017-10-30 00:07:18 <NA>                #1041
5 BZZBR0_작업 2017-10-30 00:07:18 2017-10-30 07:44:25 2017-10-30 07:44:25 NA
6 BZZBR0_작업 2017-10-30 02:41:58 2017-10-30 11:39:00 2017-10-30 11:39:00 NA
  제품       중량 Navigate
1 1045_988_0 82.1 2017-10-27 01:41:28
2 1045_998_0 82.1 2017-10-27 02:33:00
3 1045_988_0 82.1 2017-10-30 02:41:58
4 1045_998_0 82.1 <NA>
5 1045_998_0 82.1 <NA>
6 1045_988_0 82.1 <NA>
  도로                                                  공장 거리
1 Road_37, Road_27, Road_3, Road_50, Road_147, Road_151 A7E1 1091.8654
2 Road_37, Road_27                                      OC1N  230.5024
3 Road_151, Road_147, Road_50, Road_3, Road_27          OC1N  994.9071
4 NA                                                    OC1N    0.0000
5 NA                                                    OC1N    0.0000
6 NA                                                    OC1N    0.0000

In [84]:
rod <- nipa$도로
tail(rod)

[1] "Road_37, Road_27, Road_3, Road_50, Road_147, Road_151"
[2] "Road_37, Road_27"
[3] "Road_151, Road_147, Road_50, Road_3, Road_27"
[4] NA
[5] NA
[6] NA

In [85]:
rod2 <- as.data.frame(rod)
tail(rod2)

     rod
3594 Road_37, Road_27, Road_3, Road_50, Road_147, Road_151
3595 Road_37, Road_27
3596 Road_151, Road_147, Road_50, Road_3, Road_27
3597 NA
3598 NA
3599 NA

In [86]:
rod2$rod2 <- gsub(',','', rod2$rod)
tail(rod2)

     rod
3594 Road_37, Road_27, Road_3, Road_50, Road_147, Road_151
3595 Road_37, Road_27
3596 Road_151, Road_147, Road_50, Road_3, Road_27
3597 NA
3598 NA
3599 NA
     rod2
3594 Road_37 Road_27 Road_3 Road_50 Road_147 Road_151
3595 Road_37 Road_27
3596 Road_151 Road_147 Road_50 Road_3 Road_27
3597 NA
3598 NA
3599 NA

In [87]:
nipa$도로 <- rod2$rod2
tail(nipa)

  공정        시작                끝                  Process             설비
1 BZZBR0_이동 2017-10-27 00:15:35 2017-10-30 01:25:53 <NA>                #101
2 BZZBR0_이동 2017-10-27 02:25:42 2017-10-30 00:07:18 <NA>                #553
3 BZZBR0_이동 2017-10-30 01:25:53 2017-10-30 02:41:58 <NA>                #1032
4 BZZBR0_이동 2017-10-30 00:07:18 2017-10-30 00:07:18 <NA>                #1041
5 BZZBR0_작업 2017-10-30 00:07:18 2017-10-30 07:44:25 2017-10-30 07:44:25 NA
6 BZZBR0_작업 2017-10-30 02:41:58 2017-10-30 11:39:00 2017-10-30 11:39:00 NA
  제품       중량 Navigate
1 1045_988_0 82.1 2017-10-27 01:41:28
2 1045_998_0 82.1 2017-10-27 02:33:00
3 1045_988_0 82.1 2017-10-30 02:41:58
4 1045_998_0 82.1 <NA>
5 1045_998_0 82.1 <NA>
6 1045_988_0 82.1 <NA>
  도로                                             공장 거리
1 Road_37 Road_27 Road_3 Road_50 Road_147 Road_151 A7E1 1091.8654
2 Road_37 Road_27                                  OC1N  230.5024
3 Road_151 Road_147 Road_50 Road_3 Road_27         OC1N  994.9071
4 NA                                               OC1N    0.0000
5 NA                                               OC1N    0.0000
6 NA                                               OC1N    0.0000

## 4. 공정 Code명 공정명으로 변경하기

In [88]:
code <- read_xlsx("C:\\Users\\진수빈\\Downloads\\180822_Simulation_Results.xlsx", sheet = 4)
head(code)

  코드   액티비티이름
1 BSA000 조립
2 PEP000 PE선각
3 EWOE00 선PE의장
4 BPBC00 전처리
5 BPBP00 도장
6 BPBP01 보수도장

In [89]:
for (i in 1:17) {
  nipa$공정 <- gsub(code$코드[i], code$액티비티이름[i], nipa$공정)
}

In [90]:
head(nipa)
tail(nipa)

  공정      시작                끝                  Process             설비
1 조립_이동 2016-12-07 01:12:00 2016-12-07 01:12:00 <NA>                #101
2 조립_작업 2016-12-07 01:12:00 2017-03-22 03:08:42 2017-03-22 03:08:42 NA
3 조립_이동 2016-12-13 01:12:00 2016-12-13 01:12:00 <NA>                #101
4 조립_작업 2016-12-13 01:12:00 2017-04-17 01:13:47 2017-04-17 01:13:47 NA
5 조립_이동 2016-12-19 01:12:00 2016-12-19 01:12:00 <NA>                #354
6 조립_작업 2016-12-19 01:12:00 2017-03-16 00:46:19 2017-03-16 00:46:19 NA
  제품       중량  Navigate 도로 공장 거리
1 1040_988_0  82.1 <NA>     NA   PO30 0
2 1040_988_0  82.1 <NA>     NA   PO30 0
3 1047_998_0  96.3 <NA>     NA   DM30 0
4 1047_998_0  96.3 <NA>     NA   DM30 0
5 1002_131_3 283.0 <NA>     NA   3D3B 0
6 1002_131_3 283.0 <NA>     NA   3D3B 0

  공정          시작                끝                  Process
1 발판해체_이동 2017-10-27 00:15:35 2017-10-30 01:25:53 <NA>
2 발판해체_이동 2017-10-27 02:25:42 2017-10-30 00:07:18 <NA>
3 발판해체_이동 2017-10-30 01:25:53 2017-10-30 02:41:58 <NA>
4 발판해체_이동 2017-10-30 00:07:18 2017-10-30 00:07:18 <NA>
5 발판해체_작업 2017-10-30 00:07:18 2017-10-30 07:44:25 2017-10-30 07:44:25
6 발판해체_작업 2017-10-30 02:41:58 2017-10-30 11:39:00 2017-10-30 11:39:00
  설비  제품       중량 Navigate
1 #101  1045_988_0 82.1 2017-10-27 01:41:28
2 #553  1045_998_0 82.1 2017-10-27 02:33:00
3 #1032 1045_988_0 82.1 2017-10-30 02:41:58
4 #1041 1045_998_0 82.1 <NA>
5 NA    1045_998_0 82.1 <NA>
6 NA    1045_988_0 82.1 <NA>
  도로                                             공장 거리
1 Road_37 Road_27 Road_3 Road_50 Road_147 Road_151 A7E1 1091.8654
2 Road_37 Road_27                                  OC1N  230.5024
3 Road_151 Road_147 Road_50 Road_3 Road_27         OC1N  994.9071
4 NA                                               OC1N    0.0000
5 NA                                               OC1N    0.0000
6 NA                                               OC1N    0.0000

## 5. '끝'이 Null인 값 처리
### 1) Process 값을 가지고 있으면 끝 <- Process
### 2) Navigate 값을 가지고 있으면 끝 <- Navigate
### 3) 둘 다 없으면 끝 <- 시작

In [91]:
table(is.na(nipa$끝) == TRUE)

FALSE  TRUE
 3218   381

In [92]:
nipa$시작 <- as.character(nipa$시작)
nipa$끝 <- as.character(nipa$끝)
nipa$Process <- as.character(nipa$Process)
nipa$Navigate <- as.character(nipa$Navigate)

In [93]:
nipa$끝 <- ifelse(is.na(nipa$끝) == TRUE, nipa$Process, nipa$끝)
table(is.na(nipa$끝) == TRUE)

FALSE  TRUE
 3580    19

In [94]:
nipa$끝 <- ifelse(is.na(nipa$끝) == TRUE, nipa$Navigate, nipa$끝)
table(is.na(nipa$끝) == TRUE)

FALSE  TRUE
 3598     1

In [95]:
nipa$끝 <- ifelse(is.na(nipa$끝) == TRUE, nipa$시작, nipa$끝)
table(is.na(nipa$끝) == TRUE)

FALSE
 3599

In [ ]:
write.csv(nipa, file = "180822_Simulation_Results_Full_Ver.csv", row.names = FALSE)

## 6. 중량, 거리 컬럼값 Integer 변환 : ProDiscovery에서 Int만 인식함..

In [112]:
nipa_int <- nipa
nipa_int$거리 <- as.integer(nipa_int$거리)
nipa_int$중량 <- as.integer(nipa_int$중량)

In [113]:
tail(nipa_int, 10)

   공정          시작                끝                  Process
1  도장_작업     2017-10-19 01:10:35 2017-10-27 02:25:42 2017-10-27 02:25:42
2  도장_이동     2017-10-19 00:11:09 2017-10-19 00:43:24 NA
3  도장_이동     2017-10-19 00:36:20 2017-10-19 01:10:35 NA
4  도장_작업     2017-10-19 00:43:24 2017-10-27 00:15:35 2017-10-27 00:15:35
5  발판해체_이동 2017-10-27 00:15:35 2017-10-30 01:25:53 NA
6  발판해체_이동 2017-10-27 02:25:42 2017-10-30 00:07:18 NA
7  발판해체_이동 2017-10-30 01:25:53 2017-10-30 02:41:58 NA
8  발판해체_이동 2017-10-30 00:07:18 2017-10-30 00:07:18 NA
9  발판해체_작업 2017-10-30 00:07:18 2017-10-30 07:44:25 2017-10-30 07:44:25
10 발판해체_작업 2017-10-30 02:41:58 2017-10-30 11:39:00 2017-10-30 11:39:00
   설비  제품       중량 Navigate
1  NA    1045_998_0 82   NA
2  #503  1045_988_0 82   2017-10-19 00:43:24
3  #352  1045_998_0 82   2017-10-19 01:10:35
4  NA    1045_988_0 82   NA
5  #101  1045_988_0 82   2017-10-27 01:41:28
6  #553  1045_998_0 82   2017-10-27 02:33:00
7  #1032 1045_988_0 82   2017-10-30 02:41:58
8  #1041 1045_998_0 82   NA
9  NA    1045_998_0 82   NA
10 NA    1045_988_0 82   NA
   도로                                             공장 거리
1  NA                                               2BP4    0
2  Road_3 Road_27 Road_37                           2BP3  688
3  Road_3 Road_27 Road_37                           2BP4  754
4  NA                                               2BP3    0
5  Road_37 Road_27 Road_3 Road_50 Road_147 Road_151 A7E1 1091
6  Road_37 Road_27                                  OC1N  230
7  Road_151 Road_147 Road_50 Road_3 Road_27         OC1N  994
8  NA                                               OC1N    0
9  NA                                               OC1N    0
10 NA                                               OC1N    0

In [ ]:
write.csv(nipa_int, file = "180822_Simulation_Results_Int_Ver.csv", ro.names = FALSE)

## 7. 작업 / 이동 따로 분리하기
### 1) 작업만 따로 뽑기 - Process가 NA인 값 제외

In [98]:
nipa_op <- nipa[complete.cases(nipa[, c("Process")]), ]
head(nipa_op, 20)

   공정      시작                끝                  Process             설비
1  조립_작업 2016-12-07 01:12:00 2017-03-22 03:08:42 2017-03-22 03:08:42 NA
2  조립_작업 2016-12-13 01:12:00 2017-04-17 01:13:47 2017-04-17 01:13:47 NA
3  조립_작업 2016-12-19 01:12:00 2017-03-16 00:46:19 2017-03-16 00:46:19 NA
4  조립_작업 2016-12-20 01:12:00 2017-03-17 00:48:46 2017-03-17 00:48:46 NA
5  조립_작업 2016-12-20 01:12:00 2017-04-26 03:07:26 2017-04-24 09:38:20 NA
6  조립_작업 2016-12-27 01:12:00 2017-04-26 03:07:26 2017-04-24 08:08:33 NA
7  조립_작업 2016-12-30 01:12:00 2017-03-29 02:34:29 2017-03-29 02:34:29 NA
8  조립_작업 2017-01-05 01:12:00 2017-03-21 10:16:16 2017-03-21 10:16:16 NA
9  조립_작업 2017-01-05 01:12:00 2017-03-22 01:34:31 2017-03-22 01:34:31 NA
10 조립_작업 2017-01-05 01:12:00 2017-03-22 04:58:59 2017-03-22 04:58:59 NA
11 조립_작업 2017-01-09 01:12:00 2017-03-31 09:38:08 2017-03-31 09:38:08 NA
12 조립_작업 2017-01-12 01:12:00 2017-05-18 04:30:24 2017-05-18 04:30:24 NA
13 조립_작업 2017-01-13 01:12:00 2017-04-27 02:12:00 2017-04-25 09:52:11 NA
14 조립_작업 2017-01-16 01:12:00 2017-04-03 11:55:04 2017-04-03 11:55:04 NA
15 조립_작업 2017-01-16 01:12:00 2017-03-30 05:41:34 2017-03-30 05:41:34 NA
16 조립_작업 2017-01-18 01:12:00 2017-03-21 10:51:09 2017-03-21 10:51:09 NA
17 조립_작업 2017-01-18 01:12:00 2017-03-20 00:30:42 2017-03-20 00:30:42 NA
18 조립_작업 2017-01-20 01:12:00 2017-03-24 07:46:30 2017-03-24 07:46:30 NA
19 조립_작업 2017-01-23 01:12:00 2017-03-27 06:27:46 2017-03-27 06:27:46 NA
20 조립_작업 2017-01-25 01:12:00 2017-05-04 01:12:00 2017-05-02 08:27:50 NA
   제품       중량  Navigate 도로 공장 거리
1  1040_988_0  82.1 NA       NA   PO30 0
2  1047_998_0  96.3 NA       NA   DM30 0
3  1002_131_3 283.0 NA       NA   3D3B 0
4  1002_121_2 268.4 NA       NA   3D3B 0
5  1018_988_0  36.0 NA       NA   E310 0
6  1018_998_0  36.0 NA       NA   DMH0 0
7  1002_105_7 270.3 NA       NA   GB1S 0
8  1002_112_1 240.8 NA       NA   NP2B 0
9  1002_133_2 227.3 NA       NA   NP3B 0
10 1002_123_1 243.8 NA       NA   NP3S 0
11 1002_172_1 273.0 NA       NA   GB3B 0
12 1052_998_0  75.0 NA       NA   DMH0 0
13 1040_998_0  82.1 NA       NA   OF30 0
14 1002_162_1 281.2 NA       NA   GB3B 0
15 1002_111_4 253.0 NA       NA   NP2B 0
16 1002_142_2 177.2 NA       NA   NP2B 0
17 1002_152_2 169.7 NA       NA   NP2S 0
18 1002_173_6 133.1 NA       NA   NP2B 0
19 1002_163_5 133.3 NA       NA   NP3B 0
20 1011_988_0  33.0 NA       NA   E320 0

In [104]:
nipa_op <- subset(nipa_op, select = c(-설비))
head(nipa_op)

  공정      시작                끝                  Process
1 조립_작업 2016-12-07 01:12:00 2017-03-22 03:08:42 2017-03-22 03:08:42
2 조립_작업 2016-12-13 01:12:00 2017-04-17 01:13:47 2017-04-17 01:13:47
3 조립_작업 2016-12-19 01:12:00 2017-03-16 00:46:19 2017-03-16 00:46:19
4 조립_작업 2016-12-20 01:12:00 2017-03-17 00:48:46 2017-03-17 00:48:46
5 조립_작업 2016-12-20 01:12:00 2017-04-26 03:07:26 2017-04-24 09:38:20
6 조립_작업 2016-12-27 01:12:00 2017-04-26 03:07:26 2017-04-24 08:08:33
  제품       중량  Navigate 도로 공장 거리
1 1040_988_0  82.1 NA       NA   PO30 0
2 1047_998_0  96.3 NA       NA   DM30 0
3 1002_131_3 283.0 NA       NA   3D3B 0
4 1002_121_2 268.4 NA       NA   3D3B 0
5 1018_988_0  36.0 NA       NA   E310 0
6 1018_998_0  36.0 NA       NA   DMH0 0

In [ ]:
write.csv(nipa_op, file = "180822_Simulation_Results_OP_Ver.csv", row.names = FALSE)

### 2) 이동만 따로 뽑기 '설비'가 NA인 값 제외

In [105]:
nipa_move <- nipa[complete.cases(nipa[, c("설비")]), ]
nipa_move <- subset(nipa_move, select = c(-Process))
head(nipa_move)
tail(nipa_move)

  공정      시작                끝                  설비 제품       중량
1 조립_이동 2016-12-07 01:12:00 2016-12-07 01:12:00 #101 1040_988_0  82.1
2 조립_이동 2016-12-13 01:12:00 2016-12-13 01:12:00 #101 1047_998_0  96.3
3 조립_이동 2016-12-19 01:12:00 2016-12-19 01:12:00 #354 1002_131_3 283.0
4 조립_이동 2016-12-20 01:12:00 2016-12-20 01:12:00 #354 1002_121_2 268.4
5 조립_이동 2016-12-20 01:12:00 2016-12-20 01:12:00 #101 1018_988_0  36.0
6 조립_이동 2016-12-27 01:12:00 2016-12-27 01:12:00 #101 1018_998_0  36.0
  Navigate 도로 공장 거리
1 NA       NA   PO30 0
2 NA       NA   DM30 0
3 NA       NA   3D3B 0
4 NA       NA   3D3B 0
5 NA       NA   E310 0
6 NA       NA   DMH0 0

  공정          시작                끝                  설비  제품       중량
1 도장_이동     2017-10-19 00:11:09 2017-10-19 00:43:24 #503  1045_988_0 82.1
2 도장_이동     2017-10-19 00:36:20 2017-10-19 01:10:35 #352  1045_998_0 82.1
3 발판해체_이동 2017-10-27 00:15:35 2017-10-30 01:25:53 #101  1045_988_0 82.1
4 발판해체_이동 2017-10-27 02:25:42 2017-10-30 00:07:18 #553  1045_998_0 82.1
5 발판해체_이동 2017-10-30 01:25:53 2017-10-30 02:41:58 #1032 1045_988_0 82.1
6 발판해체_이동 2017-10-30 00:07:18 2017-10-30 00:07:18 #1041 1045_998_0 82.1
  Navigate            도로                                             공장
1 2017-10-19 00:43:24 Road_3 Road_27 Road_37                           2BP3
2 2017-10-19 01:10:35 Road_3 Road_27 Road_37                           2BP4
3 2017-10-27 01:41:28 Road_37 Road_27 Road_3 Road_50 Road_147 Road_151 A7E1
4 2017-10-27 02:33:00 Road_37 Road_27                                  OC1N
5 2017-10-30 02:41:58 Road_151 Road_147 Road_50 Road_3 Road_27         OC1N
6 NA                  NA                                               OC1N
  거리
1  688.5895
2  754.9666
3 1091.8654
4  230.5024
5  994.9071
6    0.0000

In [ ]:
write.csv(nipa_move file = "180822_Simulation_Results_Move_Ver.csv", row.names = FALSE)

## 8. Process, Navigate 가설
### 1) Process가 작업의 실제 종료 시간이다
### 2) Navigate가 이동의 실제 이동 종료 시간이다

In [109]:
nipa_theory <- nipa_int

In [110]:
nipa_theory$Theory <- ifelse(is.na(nipa_theory$Process) == TRUE, nipa_theory$Navigate, nipa_theory$Process)
table(is.na(nipa_theory$Theory) == TRUE)

FALSE  TRUE
 2802   797

In [111]:
nipa_theory$Theory <- ifelse(is.na(nipa_theory$Theory) == TRUE, nipa_theory$끝, nipa_theory$Theory)
table(is.na(nipa_theory$Theory) == TRUE)

FALSE
 3599

In [101]:
write.csv(nipa_theory, file = "180822_Simulation_Results_Theory_Ver.csv", row.names = FALSE)

# 끝