# 004_Call Center Extend
## Call Center Example의 데이터를 1000개로 늘리기

## 1. 조건
###   1) Service Type은 주문 프로세스, 반품 프로세스 2가지
###   2) 한명의 Agent는 11시부터 5시까지 근무
###   3) Agent는 두 개 이상의 Case를 동시에 진행할 수 없음

## 2. 데이터 생성 과정
### 1) 주문 프로세스 1000개 case 생성
### 2) 반품 프로세스 1000개 case 생성
### 3) Random Number 1000개 생성
### 4) JOIN 이용해서 case2(주문프로세스), case4(반품프로세스)에 붙여서 1000개의 T/F 생성
### 5) Agent 생성
### 6) Time 생성

In [1]:
install.packages("readxl")
library(readxl)
install.packages("dplyr")
library(dplyr)

package 'readxl' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'readxl'"

The downloaded binary packages are in
	C:\Temp\Rtmpq45aef\downloaded_packages
package 'dplyr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'dplyr'"

The downloaded binary packages are in
	C:\Temp\Rtmpq45aef\downloaded_packages

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
call <- read_xlsx("C:\\Users\\진수빈\\Downloads\\CallcenterExample_RPA.xlsx", sheet = 3)

In [3]:
head(call)

  Agent  CallID ServiceType StartTime
1 홍길동 1      첫인사      2018-08-27  11:05:00
2 홍길동 1      상품문의    2018-08-27  11:06:31
3 홍길동 1      주문접수    2018-08-27  11:07:00
4 홍길동 1      대기        2018-08-27  11:10:00
5 홍길동 2      첫인사      2018-08-27  11:11:11
6 홍길동 2      반품        2018-08-27  11:11:45

### 1. Case 생성
### 1) 주문 프로세스 1000개 case 생성

In [4]:
case <- data.frame(col1 = c(1, 1, 1,1 ), col2 = c("첫인사", "상품문의", "주문접수", "대기"))
case2 <- case
for(i in 1:999){
    case$col1 <- case$col1 + 1
    case2 <- rbind(case2, case)
}

In [6]:
head(case2)

  col1 col2
1 1    첫인사
2 1    상품문의
3 1    주문접수
4 1    대기
5 2    첫인사
6 2    상품문의

In [7]:
case2$col1 <- as.character(case2$col1)
class(case2$col1)

[1] "character"

### 2) 반품 프로세스 1000개 case 생성

In [8]:
case3 <- data.frame(col1 = c(1, 1, 1), col2 = c("첫인사", "반품", "대기"))
case4 <- case3
for (i in 1:999){
  case3$col1 <- case3$col1 + 1
  case4 <- rbind(case4, case3)
}
case4$col1 <- as.character(case4$col1)

In [10]:
head(case4)
class(case4$col1)

  col1 col2
1 1    첫인사
2 1    반품
3 1    대기
4 2    첫인사
5 2    반품
6 2    대기

[1] "character"

### 3) Random Number 1000개 생성

In [12]:
sam <- sample(1:1000, 500, replace = FALSE)
sam2 <- as.data.frame(sam)
sam2 <- arrange(sam2, sam)
sam2$sam <- as.character(sam2$sam)

sam2$sam2 <- sam2$sam
head(sam2)
class(sam2$sam)

  sam sam2
1 1   1
2 2   2
3 4   4
4 6   6
5 11  11
6 12  12

[1] "character"

In [13]:
join_order <- left_join(case2, sam2, by = c("col1" = "sam"))
head(join_order)
join_return <- left_join(case4, sam2, by = c("col1" = "sam"))
head(join_return)

  col1 col2     sam2
1 1    첫인사   1
2 1    상품문의 1
3 1    주문접수 1
4 1    대기     1
5 2    첫인사   2
6 2    상품문의 2

  col1 col2   sam2
1 1    첫인사 1
2 1    반품   1
3 1    대기   1
4 2    첫인사 2
5 2    반품   2
6 2    대기   2

In [16]:
join_order <- na.omit(join_order)
head(join_order, 10)
# 3은 날아갔음

   col1 col2     sam2
1  1    첫인사   1
2  1    상품문의 1
3  1    주문접수 1
4  1    대기     1
5  2    첫인사   2
6  2    상품문의 2
7  2    주문접수 2
8  2    대기     2
13 4    첫인사   4
14 4    상품문의 4

In [17]:
join_return$sam3 <- ifelse(is.na(join_return$sam2) == TRUE, join_return$sam2 <- 1, join_return$sam2 <- NA)
join_return <- subset(join_return, select = c(-sam2))
join_return <- na.omit(join_return)
head(join_return)
## col1로 보면 날아간 숫자 보임

   col1 col2   sam3
7  3    첫인사 1
8  3    반품   1
9  3    대기   1
13 5    첫인사 1
14 5    반품   1
15 5    대기   1

In [19]:
colnames(join_order) <- c("CallID", "ServiceType", "test")
colnames(join_return) <- c("CallID", "ServiceType", "test")
cist <- rbind(join_order, join_return)
head(cist, 10)

cist$CallID <- as.integer(cist$CallID)
cist <- arrange(cist, CallID)
head(cist, 10)

cist <- subset(cist, select = c(-test))
head(cist, 10)

   CallID ServiceType test
1  1      첫인사      1
2  1      상품문의    1
3  1      주문접수    1
4  1      대기        1
5  2      첫인사      2
6  2      상품문의    2
7  2      주문접수    2
8  2      대기        2
13 4      첫인사      4
14 4      상품문의    4

   CallID ServiceType test
1  1      첫인사      1
2  1      상품문의    1
3  1      주문접수    1
4  1      대기        1
5  2      첫인사      2
6  2      상품문의    2
7  2      주문접수    2
8  2      대기        2
9  3      첫인사      1
10 3      반품        1

   CallID ServiceType
1  1      첫인사
2  1      상품문의
3  1      주문접수
4  1      대기
5  2      첫인사
6  2      상품문의
7  2      주문접수
8  2      대기
9  3      첫인사
10 3      반품

### 5) Agent 생성

In [20]:
agent <- c("손흥민", "기성용", "구자철", "이승우", "조현우",
           "이청용", "이동국", "김승규", "장현수", "김영권",
           "김신욱", "홍정호", "지동원", "이근호", "정성룡",
           "박주호", "김진현", "김진수", "석현준", "김보경",
           "이재성", "이용", "남태희", "권창훈", "곽태휘")
cist$Agent <- "agent"
for (i in 1:25){
  cist$Agent <- ifelse((cist$CallID %/% 40) == (i-1), agent[i], cist$Agent)
}
cist$Agent <- ifelse(cist$Agent == "agent", "곽태휘", cist$Agent)

In [22]:
head(cist)
tail(cist)

  CallID ServiceType Agent
1 1      첫인사      손흥민
2 1      상품문의    손흥민
3 1      주문접수    손흥민
4 1      대기        손흥민
5 2      첫인사      손흥민
6 2      상품문의    손흥민

     CallID ServiceType Agent
3495  999   주문접수    곽태휘
3496  999   대기        곽태휘
3497 1000   첫인사      곽태휘
3498 1000   상품문의    곽태휘
3499 1000   주문접수    곽태휘
3500 1000   대기        곽태휘

In [24]:
# Agent의 Activity 수 계산
a <- as.data.frame(table(cist$Agent))
b <- as.data.frame(agent)
ab <- left_join(b, a, by = c("agent" = "Var1"))
head(ab)

  agent  Freq
1 손흥민 138
2 기성용 146
3 구자철 133
4 이승우 143
5 조현우 138
6 이청용 135

In [33]:
agcnt <- ab$Freq
agcnt
sum(ab$Freq)

 [1] 138 146 133 143 138 135 143 139 138 144 143 137 142 137 142 140 136 140 136
[20] 142 142 140 140 141 145

[1] 3500

In [40]:
time2 <- data.frame(col1 = 0, col2 = 0 , col3 = 0)
time2

  col1 col2 col3
1 0    0    0

In [41]:
for (i in 1:length(agcnt)){
  hour <- sample(x = 11:17, size = agcnt[i], replace = TRUE)
  minute <- sample(x = 0:59, size = agcnt[i], replace = TRUE)
  second <- sample(x = 0:59, size = agcnt[i], replace = TRUE)
  time <- data.frame(col1 = hour, col2 = minute, col3 = second)
  time <- arrange(time, col1, col2, col3)
  time2 <- rbind(time2, time)
}

In [42]:
colnames(time2) <- c("hour", "minute", "second")
tail(time2)
time2 <- time2[-1, ]
head(time2)
tail(time2)

     hour minute second
3496 17   41     21
3497 17   41     47
3498 17   45     11
3499 17   50     55
3500 17   53     43
3501 17   59     23

  hour minute second
2 11    4     56
3 11    4     59
4 11    5     40
5 11    8      2
6 11   12     35
7 11   15      0

     hour minute second
3496 17   41     21
3497 17   41     47
3498 17   45     11
3499 17   50     55
3500 17   53     43
3501 17   59     23

In [43]:
time2$hour <- as.character(time2$hour)
time2$minute <- as.character(time2$minute)
time2$second <- as.character(time2$second)
head(time2)

  hour minute second
2 11   4      56
3 11   4      59
4 11   5      40
5 11   8      2
6 11   12     35
7 11   15     0

In [44]:
time2$minute <- ifelse(nchar(time2$minute) == 1, paste0("0", time2$minute), time2$minute)
time2$second <- ifelse(nchar(time2$second) == 1, paste0("0", time2$second), time2$second)
time2$time <- paste0(time2$hour, ":", time2$minute, ":", time2$second)
time2$time <- paste("2018-08-27", time2$time)
head(time2)
tail(time2)

  hour minute second time
2 11   04     56     2018-08-27 11:04:56
3 11   04     59     2018-08-27 11:04:59
4 11   05     40     2018-08-27 11:05:40
5 11   08     02     2018-08-27 11:08:02
6 11   12     35     2018-08-27 11:12:35
7 11   15     00     2018-08-27 11:15:00

     hour minute second time
3496 17   41     21     2018-08-27 17:41:21
3497 17   41     47     2018-08-27 17:41:47
3498 17   45     11     2018-08-27 17:45:11
3499 17   50     55     2018-08-27 17:50:55
3500 17   53     43     2018-08-27 17:53:43
3501 17   59     23     2018-08-27 17:59:23

In [45]:
cist$TimeStamp <- time2$time
head(cist)

  CallID ServiceType Agent  TimeStamp
1 1      첫인사      손흥민 2018-08-27 11:04:56
2 1      상품문의    손흥민 2018-08-27 11:04:59
3 1      주문접수    손흥민 2018-08-27 11:05:40
4 1      대기        손흥민 2018-08-27 11:08:02
5 2      첫인사      손흥민 2018-08-27 11:12:35
6 2      상품문의    손흥민 2018-08-27 11:15:00

In [46]:
cist <- cist[, c(3, 1, 2, 4)]
head(cist)
tail(cist)

  Agent  CallID ServiceType TimeStamp
1 손흥민 1      첫인사      2018-08-27 11:04:56
2 손흥민 1      상품문의    2018-08-27 11:04:59
3 손흥민 1      주문접수    2018-08-27 11:05:40
4 손흥민 1      대기        2018-08-27 11:08:02
5 손흥민 2      첫인사      2018-08-27 11:12:35
6 손흥민 2      상품문의    2018-08-27 11:15:00

     Agent  CallID ServiceType TimeStamp
3495 곽태휘  999   주문접수    2018-08-27 17:41:21
3496 곽태휘  999   대기        2018-08-27 17:41:47
3497 곽태휘 1000   첫인사      2018-08-27 17:45:11
3498 곽태휘 1000   상품문의    2018-08-27 17:50:55
3499 곽태휘 1000   주문접수    2018-08-27 17:53:43
3500 곽태휘 1000   대기        2018-08-27 17:59:23

In [48]:
write.csv(cist, file = "CallCenterExample1000.csv", row.names = FALSE)

# 끝