# 005_HANSOL_R
## 한솔 인티큐브 콜센터 데이터
 
## 데이터 처리 과정
### 1) 날짜 / 시간 형식 변경
### 2) 무의미한 Coumn 제거
### 3) 중복 CaseID 제거
### 4) Activity 생성
### 5) CALL_DISP 붙이기
### 6) START, STOP을 날려보자
### 7) 상담원 ID를 넣어보자
### 8) LOCID를 넣어보자
### 9) ~~ 여부를 넣어보자
### 10) 한글로 Colnames, Activity명 바꾸자
### 11) 여부를 YES, NO로 바꾸자

In [14]:
library(tidyverse)

In [15]:
library(plyr)

In [16]:
library(reshape2)

In [17]:
hansol <- read.csv("C:\\Users\\진수빈\\Desktop\\hansol\\ECHI_WORK_R18_LOTTE.csv", skip = 1)
head(hansol)

  CALLID  ACWTIME ANSHOLDTIME CONSULTTIME DISPTIME DURATION SEGSTART
1 2340243 1        0          0           139      393      21.12.2016 02:58:32
2 2340244 1        0          0           119      290      21.12.2016 03:00:19
3 2340245 0        0          0            23       63      21.12.2016 03:04:16
4 2340246 0        0          0            77      205      21.12.2016 03:01:55
5 2340247 0        0          0             0        0      21.12.2016 03:05:21
6 2340247 0       15          0            21      629      21.12.2016 02:54:52
  SEGSTART_UTC        SEGSTOP             SEGSTOP_UTC         ... ASAI_UUI
1 20.12.2016 17:58:32 21.12.2016 03:05:06 20.12.2016 18:05:06 ...
2 20.12.2016 18:00:19 21.12.2016 03:05:10 20.12.2016 18:05:10 ...
3 20.12.2016 18:04:16 21.12.2016 03:05:19 20.12.2016 18:05:19 ...
4 20.12.2016 18:01:55 21.12.2016 03:05:20 20.12.2016 18:05:20 ...
5 20.12.2016 18:05:21 21.12.2016 03:05:21 20.12.2016 18:05:21 ...
6 20.12.2016 17:54:52 21.12.2016 03:05:21 20.12.2016 18:05:21 ...
  INTERRUPTDEL AGENTSURPLUS AGENTSKILLLEVEL PREFSKILLLEVEL ICRRESENT
1 0            1            4               0              0
2 0            1            4               0              0
3 0            1            4               0              0
4 0            1            4               0              0
5 0            0            0               0              0
6 0            2            4               0              0
  ICRPULLREASON ORIG_ATTRIB_ID ANS_ATTRIB_ID OBS_ATTRIB_ID
1 0             NA             NA            NA
2 0             NA             NA            NA
3 0             NA             NA            NA
4 0             NA             NA            NA
5 0             NA             NA            NA
6 0             NA             NA            NA

## 1. 날짜 / 시간 형식 바꾸기

In [18]:
datetime <- select(hansol, SEGSTART, SEGSTART_UTC, SEGSTOP, SEGSTOP_UTC)
head(datetime)

  SEGSTART            SEGSTART_UTC        SEGSTOP
1 21.12.2016 02:58:32 20.12.2016 17:58:32 21.12.2016 03:05:06
2 21.12.2016 03:00:19 20.12.2016 18:00:19 21.12.2016 03:05:10
3 21.12.2016 03:04:16 20.12.2016 18:04:16 21.12.2016 03:05:19
4 21.12.2016 03:01:55 20.12.2016 18:01:55 21.12.2016 03:05:20
5 21.12.2016 03:05:21 20.12.2016 18:05:21 21.12.2016 03:05:21
6 21.12.2016 02:54:52 20.12.2016 17:54:52 21.12.2016 03:05:21
  SEGSTOP_UTC
1 20.12.2016 18:05:06
2 20.12.2016 18:05:10
3 20.12.2016 18:05:19
4 20.12.2016 18:05:20
5 20.12.2016 18:05:21
6 20.12.2016 18:05:21

### 1) Character 변환

In [19]:
datetime$SEGSTART <- as.character(datetime$SEGSTART)
datetime$SEGSTART_UTC <- as.character(datetime$SEGSTART_UTC)
datetime$SEGSTOP <- as.character(datetime$SEGSTOP)
datetime$SEGSTOP_UTC <- as.character(datetime$SEGSTOP_UTC)

### 2) SETSTART 변환

In [20]:
std <- strsplit(datetime$SEGSTART, split = " ")
head(std)

[[1]]
[1] "21.12.2016" "02:58:32"

[[2]]
[1] "21.12.2016" "03:00:19"

[[3]]
[1] "21.12.2016" "03:04:16"

[[4]]
[1] "21.12.2016" "03:01:55"

[[5]]
[1] "21.12.2016" "03:05:21"

[[6]]
[1] "21.12.2016" "02:54:52"

In [21]:
std <- data.frame(t(sapply(std, '[')))
head(std)

  X1         X2
1 21.12.2016 02:58:32
2 21.12.2016 03:00:19
3 21.12.2016 03:04:16
4 21.12.2016 03:01:55
5 21.12.2016 03:05:21
6 21.12.2016 02:54:52

In [22]:
std$X1 <- as.character(std$X1)
std$X2 <- as.character(std$X2)
class(std$X1)
class(std$X2)

[1] "character"

[1] "character"

In [23]:
std2 <- strsplit(std$X1, split = "\\.")
head(std2)

std2 <- data.frame(t(sapply(std2, '[')))
head(std2)

[[1]]
[1] "21"   "12"   "2016"

[[2]]
[1] "21"   "12"   "2016"

[[3]]
[1] "21"   "12"   "2016"

[[4]]
[1] "21"   "12"   "2016"

[[5]]
[1] "21"   "12"   "2016"

[[6]]
[1] "21"   "12"   "2016"

  X1 X2 X3
1 21 12 2016
2 21 12 2016
3 21 12 2016
4 21 12 2016
5 21 12 2016
6 21 12 2016

In [24]:
std2$X4 <- paste0(std2$X3, "-", std2$X2, "-", std2$X1)
head(std2)

std2$X4 <- paste(std2$X4, std$X2)
head(std2)

  X1 X2 X3   X4
1 21 12 2016 2016-12-21
2 21 12 2016 2016-12-21
3 21 12 2016 2016-12-21
4 21 12 2016 2016-12-21
5 21 12 2016 2016-12-21
6 21 12 2016 2016-12-21

  X1 X2 X3   X4
1 21 12 2016 2016-12-21 02:58:32
2 21 12 2016 2016-12-21 03:00:19
3 21 12 2016 2016-12-21 03:04:16
4 21 12 2016 2016-12-21 03:01:55
5 21 12 2016 2016-12-21 03:05:21
6 21 12 2016 2016-12-21 02:54:52

In [24]:
datetime$SEGSTART <- std2$X4
head(datetime)

  SEGSTART            SEGSTART_UTC        SEGSTOP
1 2016-12-21 02:58:32 20.12.2016 17:58:32 21.12.2016 03:05:06
2 2016-12-21 03:00:19 20.12.2016 18:00:19 21.12.2016 03:05:10
3 2016-12-21 03:04:16 20.12.2016 18:04:16 21.12.2016 03:05:19
4 2016-12-21 03:01:55 20.12.2016 18:01:55 21.12.2016 03:05:20
5 2016-12-21 03:05:21 20.12.2016 18:05:21 21.12.2016 03:05:21
6 2016-12-21 02:54:52 20.12.2016 17:54:52 21.12.2016 03:05:21
  SEGSTOP_UTC
1 20.12.2016 18:05:06
2 20.12.2016 18:05:10
3 20.12.2016 18:05:19
4 20.12.2016 18:05:20
5 20.12.2016 18:05:21
6 20.12.2016 18:05:21

### 3) SETSTART_UTC 변환
### - 똑같은 방법

In [25]:
std <- strsplit(datetime$SEGSTART_UTC, split = " ")
head(std)

std <- data.frame(t(sapply(std, '[')))
head(std)

class(std$X1)
class(std$X2)

std$X1 <- as.character(std$X1)
std$X2 <- as.character(std$X2)

std2 <- strsplit(std$X1, split = "\\.")
head(std2)

std2 <- data.frame(t(sapply(std2, '[')))
head(std2)

std2$X4 <- paste0(std2$X3, "-", std2$X2, "-", std2$X1)
head(std2)

std2$X4 <- paste(std2$X4, std$X2)
head(std2)

datetime$SEGSTART_UTC <- std2$X4

[[1]]
[1] "20.12.2016" "17:58:32"

[[2]]
[1] "20.12.2016" "18:00:19"

[[3]]
[1] "20.12.2016" "18:04:16"

[[4]]
[1] "20.12.2016" "18:01:55"

[[5]]
[1] "20.12.2016" "18:05:21"

[[6]]
[1] "20.12.2016" "17:54:52"

  X1         X2
1 20.12.2016 17:58:32
2 20.12.2016 18:00:19
3 20.12.2016 18:04:16
4 20.12.2016 18:01:55
5 20.12.2016 18:05:21
6 20.12.2016 17:54:52

[1] "factor"

[1] "factor"

[[1]]
[1] "20"   "12"   "2016"

[[2]]
[1] "20"   "12"   "2016"

[[3]]
[1] "20"   "12"   "2016"

[[4]]
[1] "20"   "12"   "2016"

[[5]]
[1] "20"   "12"   "2016"

[[6]]
[1] "20"   "12"   "2016"

  X1 X2 X3
1 20 12 2016
2 20 12 2016
3 20 12 2016
4 20 12 2016
5 20 12 2016
6 20 12 2016

  X1 X2 X3   X4
1 20 12 2016 2016-12-20
2 20 12 2016 2016-12-20
3 20 12 2016 2016-12-20
4 20 12 2016 2016-12-20
5 20 12 2016 2016-12-20
6 20 12 2016 2016-12-20

  X1 X2 X3   X4
1 20 12 2016 2016-12-20 17:58:32
2 20 12 2016 2016-12-20 18:00:19
3 20 12 2016 2016-12-20 18:04:16
4 20 12 2016 2016-12-20 18:01:55
5 20 12 2016 2016-12-20 18:05:21
6 20 12 2016 2016-12-20 17:54:52

### 4) SETSTOP 변환
### - 똑같은 방법

In [26]:
std <- strsplit(datetime$SEGSTOP, split = " ")
head(std)

std <- data.frame(t(sapply(std, '[')))
head(std)

std$X1 <- as.character(std$X1)
std$X2 <- as.character(std$X2)

std2 <- strsplit(std$X1, split = "\\.")
head(std2)

std2 <- data.frame(t(sapply(std2, '[')))
head(std2)

std2$X4 <- paste0(std2$X3, "-", std2$X2, "-", std2$X1)
head(std2)

std2$X4 <- paste(std2$X4, std$X2)
head(std2)

datetime$SEGSTOP <- std2$X4

[[1]]
[1] "21.12.2016" "03:05:06"

[[2]]
[1] "21.12.2016" "03:05:10"

[[3]]
[1] "21.12.2016" "03:05:19"

[[4]]
[1] "21.12.2016" "03:05:20"

[[5]]
[1] "21.12.2016" "03:05:21"

[[6]]
[1] "21.12.2016" "03:05:21"

  X1         X2
1 21.12.2016 03:05:06
2 21.12.2016 03:05:10
3 21.12.2016 03:05:19
4 21.12.2016 03:05:20
5 21.12.2016 03:05:21
6 21.12.2016 03:05:21

[[1]]
[1] "21"   "12"   "2016"

[[2]]
[1] "21"   "12"   "2016"

[[3]]
[1] "21"   "12"   "2016"

[[4]]
[1] "21"   "12"   "2016"

[[5]]
[1] "21"   "12"   "2016"

[[6]]
[1] "21"   "12"   "2016"

  X1 X2 X3
1 21 12 2016
2 21 12 2016
3 21 12 2016
4 21 12 2016
5 21 12 2016
6 21 12 2016

  X1 X2 X3   X4
1 21 12 2016 2016-12-21
2 21 12 2016 2016-12-21
3 21 12 2016 2016-12-21
4 21 12 2016 2016-12-21
5 21 12 2016 2016-12-21
6 21 12 2016 2016-12-21

  X1 X2 X3   X4
1 21 12 2016 2016-12-21 03:05:06
2 21 12 2016 2016-12-21 03:05:10
3 21 12 2016 2016-12-21 03:05:19
4 21 12 2016 2016-12-21 03:05:20
5 21 12 2016 2016-12-21 03:05:21
6 21 12 2016 2016-12-21 03:05:21

### 5) SETSTOP_UTC 변환
### - 똑같은 방법

In [27]:
std <- strsplit(datetime$SEGSTOP_UTC, split = " ")
head(std)

std <- data.frame(t(sapply(std, '[')))
head(std)

std$X1 <- as.character(std$X1)
std$X2 <- as.character(std$X2)

std2 <- strsplit(std$X1, split = "\\.")
head(std2)

std2 <- data.frame(t(sapply(std2, '[')))
head(std2)

std2$X4 <- paste0(std2$X3, "-", std2$X2, "-", std2$X1)
head(std2)

std2$X4 <- paste(std2$X4, std$X2)
head(std2)

datetime$SEGSTOP_UTC <- std2$X4

[[1]]
[1] "20.12.2016" "18:05:06"

[[2]]
[1] "20.12.2016" "18:05:10"

[[3]]
[1] "20.12.2016" "18:05:19"

[[4]]
[1] "20.12.2016" "18:05:20"

[[5]]
[1] "20.12.2016" "18:05:21"

[[6]]
[1] "20.12.2016" "18:05:21"

  X1         X2
1 20.12.2016 18:05:06
2 20.12.2016 18:05:10
3 20.12.2016 18:05:19
4 20.12.2016 18:05:20
5 20.12.2016 18:05:21
6 20.12.2016 18:05:21

[[1]]
[1] "20"   "12"   "2016"

[[2]]
[1] "20"   "12"   "2016"

[[3]]
[1] "20"   "12"   "2016"

[[4]]
[1] "20"   "12"   "2016"

[[5]]
[1] "20"   "12"   "2016"

[[6]]
[1] "20"   "12"   "2016"

  X1 X2 X3
1 20 12 2016
2 20 12 2016
3 20 12 2016
4 20 12 2016
5 20 12 2016
6 20 12 2016

  X1 X2 X3   X4
1 20 12 2016 2016-12-20
2 20 12 2016 2016-12-20
3 20 12 2016 2016-12-20
4 20 12 2016 2016-12-20
5 20 12 2016 2016-12-20
6 20 12 2016 2016-12-20

  X1 X2 X3   X4
1 20 12 2016 2016-12-20 18:05:06
2 20 12 2016 2016-12-20 18:05:10
3 20 12 2016 2016-12-20 18:05:19
4 20 12 2016 2016-12-20 18:05:20
5 20 12 2016 2016-12-20 18:05:21
6 20 12 2016 2016-12-20 18:05:21

In [28]:
head(datetime)

  SEGSTART            SEGSTART_UTC        SEGSTOP
1 21.12.2016 02:58:32 2016-12-20 17:58:32 2016-12-21 03:05:06
2 21.12.2016 03:00:19 2016-12-20 18:00:19 2016-12-21 03:05:10
3 21.12.2016 03:04:16 2016-12-20 18:04:16 2016-12-21 03:05:19
4 21.12.2016 03:01:55 2016-12-20 18:01:55 2016-12-21 03:05:20
5 21.12.2016 03:05:21 2016-12-20 18:05:21 2016-12-21 03:05:21
6 21.12.2016 02:54:52 2016-12-20 17:54:52 2016-12-21 03:05:21
  SEGSTOP_UTC
1 2016-12-20 18:05:06
2 2016-12-20 18:05:10
3 2016-12-20 18:05:19
4 2016-12-20 18:05:20
5 2016-12-20 18:05:21
6 2016-12-20 18:05:21

### 6) 원본 데이터에 날짜 심기

In [29]:
hansol$SEGSTART <- datetime$SEGSTART
hansol$SEGSTART_UTC <- datetime$SEGSTART_UTC
hansol$SEGSTOP <- datetime$SEGSTOP
hansol$SEGSTOP_UTC <- datetime$SEGSTOP_UTC

head(hansol)

  CALLID  ACWTIME ANSHOLDTIME CONSULTTIME DISPTIME DURATION SEGSTART
1 2340243 1        0          0           139      393      21.12.2016 02:58:32
2 2340244 1        0          0           119      290      21.12.2016 03:00:19
3 2340245 0        0          0            23       63      21.12.2016 03:04:16
4 2340246 0        0          0            77      205      21.12.2016 03:01:55
5 2340247 0        0          0             0        0      21.12.2016 03:05:21
6 2340247 0       15          0            21      629      21.12.2016 02:54:52
  SEGSTART_UTC        SEGSTOP             SEGSTOP_UTC         ... ASAI_UUI
1 2016-12-20 17:58:32 2016-12-21 03:05:06 2016-12-20 18:05:06 ...
2 2016-12-20 18:00:19 2016-12-21 03:05:10 2016-12-20 18:05:10 ...
3 2016-12-20 18:04:16 2016-12-21 03:05:19 2016-12-20 18:05:19 ...
4 2016-12-20 18:01:55 2016-12-21 03:05:20 2016-12-20 18:05:20 ...
5 2016-12-20 18:05:21 2016-12-21 03:05:21 2016-12-20 18:05:21 ...
6 2016-12-20 17:54:52 2016-12-21 03:05:21 2016-12-20 18:05:21 ...
  INTERRUPTDEL AGENTSURPLUS AGENTSKILLLEVEL PREFSKILLLEVEL ICRRESENT
1 0            1            4               0              0
2 0            1            4               0              0
3 0            1            4               0              0
4 0            1            4               0              0
5 0            0            0               0              0
6 0            2            4               0              0
  ICRPULLREASON ORIG_ATTRIB_ID ANS_ATTRIB_ID OBS_ATTRIB_ID
1 0             NA             NA            NA
2 0             NA             NA            NA
3 0             NA             NA            NA
4 0             NA             NA            NA
5 0             NA             NA            NA
6 0             NA             NA            NA

## 2. 무의미한 Column 제거
### 1) 모든 값이 Null인 Column
### 2) 모든 값이 동일한 값인 Column

In [30]:
hansol2 <- select(hansol, -NETINTIME, -TENANT, 
                  -EVENT1, -EVENT2, -EVENT3, -EVENT4, -EVENT5, -EVENT6, -EVENT7, -EVENT8, -EVENT9,
                  -CWC1, -CWC2, -CWC3, -CWC4, -CWC5, -LASTCWC,
                  -VDN4, -VDN5, -VDN6, -VDN7, -VDN8, -VDN9,
                  -INTERRUPTDEL, -PREFSKILLLEVEL, -ICRPULLREASON, 
                  -ICRRESENT, -ORIG_ATTRIB_ID, -ANS_ATTRIB_ID, -OBS_ATTRIB_ID)
head(hansol2)

  CALLID  ACWTIME ANSHOLDTIME CONSULTTIME DISPTIME DURATION SEGSTART
1 2340243 1        0          0           139      393      21.12.2016 02:58:32
2 2340244 1        0          0           119      290      21.12.2016 03:00:19
3 2340245 0        0          0            23       63      21.12.2016 03:04:16
4 2340246 0        0          0            77      205      21.12.2016 03:01:55
5 2340247 0        0          0             0        0      21.12.2016 03:05:21
6 2340247 0       15          0            21      629      21.12.2016 02:54:52
  SEGSTART_UTC        SEGSTOP             SEGSTOP_UTC         ... ORIGLOGIN
1 2016-12-20 17:58:32 2016-12-21 03:05:06 2016-12-20 18:05:06 ... NA
2 2016-12-20 18:00:19 2016-12-21 03:05:10 2016-12-20 18:05:10 ... NA
3 2016-12-20 18:04:16 2016-12-21 03:05:19 2016-12-20 18:05:19 ... NA
4 2016-12-20 18:01:55 2016-12-21 03:05:20 2016-12-20 18:05:20 ... NA
5 2016-12-20 18:05:21 2016-12-21 03:05:21 2016-12-20 18:05:21 ... NA
6 2016-12-20 17:54:52 2016-12-21 03:05:21 2016-12-20 18:05:21 ... NA
  ANSLOGIN LASTOBSERVER LASTDIGITS CALLING_II VDN2   VDN3 ASAI_UUI AGENTSURPLUS
1 200115   NA           1          NA         510311 NA            1
2 200124   NA           3          NA         510211 NA            1
3 200333   NA           1          NA         510211 NA            1
4 200116   NA           3          NA         510211 NA            1
5     NA   NA                      NA             NA NA            0
6 200508   NA           1          NA         510211 NA            2
  AGENTSKILLLEVEL
1 4
2 4
3 4
4 4
5 0
6 4

## 3. 중복 CALLID 제거
### 1) 중복 CALLID중 2번째 행만 남기기
#### 이건 뽀록으로 된 것이므로 주말에 다시 공부해야 함

In [31]:
redup <- subset(count(hansol2, vars = c("CALLID")), freq > 1)
head(redup)

   CALLID  freq
3  2340197 2
5  2340199 2
7  2340201 4
10 2340204 2
13 2340207 2
25 2340219 2

### duplicated() 중복 함수를 모두 뽑아줌
### 그러나 최초의 중복은 출력하지 않음
### 그래서 밑에 보면 운 좋게 두 번째 행(내가 원하던 것)들이 첫번째 행처럼 나와있음

In [32]:
hansol3 <- hansol2[duplicated(hansol2$CALLID), ]
head(hansol3)

   CALLID  ACWTIME ANSHOLDTIME CONSULTTIME DISPTIME DURATION
6  2340247 0       15          0           21       629
7  2340247 0        0          2            2        45
8  2340247 0        0          1            1         2
16 2340254 0        0          0            2        93
18 2340255 0        0          2            1        31
23 2340259 1       11          0            8       122
   SEGSTART            SEGSTART_UTC        SEGSTOP
6  21.12.2016 02:54:52 2016-12-20 17:54:52 2016-12-21 03:05:21
7  21.12.2016 03:04:35 2016-12-20 18:04:35 2016-12-21 03:05:21
8  21.12.2016 03:05:19 2016-12-20 18:05:19 2016-12-21 03:05:21
16 21.12.2016 03:04:59 2016-12-20 18:04:59 2016-12-21 03:06:32
18 21.12.2016 03:06:18 2016-12-20 18:06:18 2016-12-21 03:06:49
23 21.12.2016 03:04:25 2016-12-20 18:04:25 2016-12-21 03:07:12
   SEGSTOP_UTC         ... ORIGLOGIN ANSLOGIN LASTOBSERVER LASTDIGITS
6  2016-12-20 18:05:21 ...     NA    200508   NA           1
7  2016-12-20 18:05:21 ... 200508        NA   NA
8  2016-12-20 18:05:21 ... 200508        NA   NA
16 2016-12-20 18:06:32 ...     NA    200591   NA
18 2016-12-20 18:06:49 ... 200431        NA   NA
23 2016-12-20 18:07:12 ...     NA    200331   NA
   CALLING_II VDN2   VDN3 ASAI_UUI AGENTSURPLUS AGENTSKILLLEVEL
6  NA         510211 NA            2            4
7  NA             NA NA            0            0
8  NA             NA NA            0            0
16 NA             NA NA            2            4
18 NA             NA NA            0            0
23 NA             NA NA            1            4

### 놀랍게도 !duplicated를 쓰면 중복인 행들을 모두 날려줌
### 첫번째만 남기기 때문에 운 좋게 원하던 것을 얻게 됨
### 사실 이걸 반복하면 몇 번째 행이든지 원하는 행을 얻을 수 있으나 그건 멍청한 방법임
### 그러니까 indexing을 알아보자

In [33]:
hansol4 <- hansol3[!duplicated(hansol3$CALLID), ]
head(hansol4)

   CALLID  ACWTIME ANSHOLDTIME CONSULTTIME DISPTIME DURATION
6  2340247 0       15          0           21       629
16 2340254 0        0          0            2        93
18 2340255 0        0          2            1        31
23 2340259 1       11          0            8       122
26 2340260 0        0          0            2        93
42 2340275 0        0          2            1        67
   SEGSTART            SEGSTART_UTC        SEGSTOP
6  21.12.2016 02:54:52 2016-12-20 17:54:52 2016-12-21 03:05:21
16 21.12.2016 03:04:59 2016-12-20 18:04:59 2016-12-21 03:06:32
18 21.12.2016 03:06:18 2016-12-20 18:06:18 2016-12-21 03:06:49
23 21.12.2016 03:04:25 2016-12-20 18:04:25 2016-12-21 03:07:12
26 21.12.2016 03:05:49 2016-12-20 18:05:49 2016-12-21 03:07:22
42 21.12.2016 03:08:00 2016-12-20 18:08:00 2016-12-21 03:09:11
   SEGSTOP_UTC         ... ORIGLOGIN ANSLOGIN LASTOBSERVER LASTDIGITS
6  2016-12-20 18:05:21 ...     NA    200508   NA           1
16 2016-12-20 18:06:32 ...     NA    200591   NA
18 2016-12-20 18:06:49 ... 200431        NA   NA
23 2016-12-20 18:07:12 ...     NA    200331   NA
26 2016-12-20 18:07:22 ...     NA    200116   NA
42 2016-12-20 18:09:11 ... 200352        NA   NA
   CALLING_II VDN2   VDN3 ASAI_UUI AGENTSURPLUS AGENTSKILLLEVEL
6  NA         510211 NA            2            4
16 NA             NA NA            2            4
18 NA             NA NA            0            0
23 NA             NA NA            1            4
26 NA             NA NA            2            4
42 NA             NA NA            0            0

### 2) 기존 Data의 중복 행 다 날리기

### 가장 멍청한 방법으로 중복 CallID를 Join해서 지우는 방법이 있음
### 그런데 지금 그것밖에 생각이 안남
### 좋아 이것도 써놨기 때문에 일단 정리 후에 공부하겠음

In [34]:
forjoin <- as.data.frame(hansol4$CALLID)
forjoin$x <- 1

In [35]:
head(forjoin)

  hansol4$CALLID x
1 2340247        1
2 2340254        1
3 2340255        1
4 2340259        1
5 2340260        1
6 2340275        1

In [36]:
hansol5 <- left_join(hansol2, forjoin, by = c("CALLID" = "hansol4$CALLID"))
head(hansol5)

  CALLID  ACWTIME ANSHOLDTIME CONSULTTIME DISPTIME DURATION SEGSTART
1 2340243 1        0          0           139      393      21.12.2016 02:58:32
2 2340244 1        0          0           119      290      21.12.2016 03:00:19
3 2340245 0        0          0            23       63      21.12.2016 03:04:16
4 2340246 0        0          0            77      205      21.12.2016 03:01:55
5 2340247 0        0          0             0        0      21.12.2016 03:05:21
6 2340247 0       15          0            21      629      21.12.2016 02:54:52
  SEGSTART_UTC        SEGSTOP             SEGSTOP_UTC         ... ANSLOGIN
1 2016-12-20 17:58:32 2016-12-21 03:05:06 2016-12-20 18:05:06 ... 200115
2 2016-12-20 18:00:19 2016-12-21 03:05:10 2016-12-20 18:05:10 ... 200124
3 2016-12-20 18:04:16 2016-12-21 03:05:19 2016-12-20 18:05:19 ... 200333
4 2016-12-20 18:01:55 2016-12-21 03:05:20 2016-12-20 18:05:20 ... 200116
5 2016-12-20 18:05:21 2016-12-21 03:05:21 2016-12-20 18:05:21 ...     NA
6 2016-12-20 17:54:52 2016-12-21 03:05:21 2016-12-20 18:05:21 ... 200508
  LASTOBSERVER LASTDIGITS CALLING_II VDN2   VDN3 ASAI_UUI AGENTSURPLUS
1 NA           1          NA         510311 NA            1
2 NA           3          NA         510211 NA            1
3 NA           1          NA         510211 NA            1
4 NA           3          NA         510211 NA            1
5 NA                      NA             NA NA            0
6 NA           1          NA         510211 NA            2
  AGENTSKILLLEVEL x
1 4               NA
2 4               NA
3 4               NA
4 4               NA
5 0                1
6 4                1

In [37]:
hansol6 <- hansol5[is.na(hansol5$x) == TRUE, ]
head(hansol6)

   CALLID  ACWTIME ANSHOLDTIME CONSULTTIME DISPTIME DURATION
1  2340243 1       0           0           139      393
2  2340244 1       0           0           119      290
3  2340245 0       0           0            23       63
4  2340246 0       0           0            77      205
9  2340248 2       0           0           139      359
10 2340249 1       0           0           150      298
   SEGSTART            SEGSTART_UTC        SEGSTOP
1  21.12.2016 02:58:32 2016-12-20 17:58:32 2016-12-21 03:05:06
2  21.12.2016 03:00:19 2016-12-20 18:00:19 2016-12-21 03:05:10
3  21.12.2016 03:04:16 2016-12-20 18:04:16 2016-12-21 03:05:19
4  21.12.2016 03:01:55 2016-12-20 18:01:55 2016-12-21 03:05:20
9  21.12.2016 02:59:23 2016-12-20 17:59:23 2016-12-21 03:05:24
10 21.12.2016 03:00:27 2016-12-20 18:00:27 2016-12-21 03:05:26
   SEGSTOP_UTC         ... ANSLOGIN LASTOBSERVER LASTDIGITS CALLING_II VDN2
1  2016-12-20 18:05:06 ... 200115   NA           1          NA         510311
2  2016-12-20 18:05:10 ... 200124   NA           3          NA         510211
3  2016-12-20 18:05:19 ... 200333   NA           1          NA         510211
4  2016-12-20 18:05:20 ... 200116   NA           3          NA         510211
9  2016-12-20 18:05:24 ... 200352   NA           3          NA         510211
10 2016-12-20 18:05:26 ... 200122   NA           1          NA         510311
   VDN3 ASAI_UUI AGENTSURPLUS AGENTSKILLLEVEL x
1  NA            1            4               NA
2  NA            1            4               NA
3  NA            1            4               NA
4  NA            1            4               NA
9  NA            1            4               NA
10 NA            1            4               NA

In [38]:
hansol7 <- select(hansol6, -x)
head(hansol7)

   CALLID  ACWTIME ANSHOLDTIME CONSULTTIME DISPTIME DURATION
1  2340243 1       0           0           139      393
2  2340244 1       0           0           119      290
3  2340245 0       0           0            23       63
4  2340246 0       0           0            77      205
9  2340248 2       0           0           139      359
10 2340249 1       0           0           150      298
   SEGSTART            SEGSTART_UTC        SEGSTOP
1  21.12.2016 02:58:32 2016-12-20 17:58:32 2016-12-21 03:05:06
2  21.12.2016 03:00:19 2016-12-20 18:00:19 2016-12-21 03:05:10
3  21.12.2016 03:04:16 2016-12-20 18:04:16 2016-12-21 03:05:19
4  21.12.2016 03:01:55 2016-12-20 18:01:55 2016-12-21 03:05:20
9  21.12.2016 02:59:23 2016-12-20 17:59:23 2016-12-21 03:05:24
10 21.12.2016 03:00:27 2016-12-20 18:00:27 2016-12-21 03:05:26
   SEGSTOP_UTC         ... ORIGLOGIN ANSLOGIN LASTOBSERVER LASTDIGITS
1  2016-12-20 18:05:06 ... NA        200115   NA           1
2  2016-12-20 18:05:10 ... NA        200124   NA           3
3  2016-12-20 18:05:19 ... NA        200333   NA           1
4  2016-12-20 18:05:20 ... NA        200116   NA           3
9  2016-12-20 18:05:24 ... NA        200352   NA           3
10 2016-12-20 18:05:26 ... NA        200122   NA           1
   CALLING_II VDN2   VDN3 ASAI_UUI AGENTSURPLUS AGENTSKILLLEVEL
1  NA         510311 NA            1            4
2  NA         510211 NA            1            4
3  NA         510211 NA            1            4
4  NA         510211 NA            1            4
9  NA         510211 NA            1            4
10 NA         510311 NA            1            4

### 3) 중복을 날린 hansol7과 중복중 2번째 행만 남긴 hansol4를 rbind

In [39]:
hansol8 <- rbind(hansol4, hansol7)
str(hansol8)

'data.frame':	873736 obs. of  57 variables:
 $ CALLID         : int  2340247 2340254 2340255 2340259 2340260 2340275 2340278 2340197 2340199 2340201 ...
 $ ACWTIME        : int  0 0 0 1 0 0 0 3 0 1 ...
 $ ANSHOLDTIME    : int  15 0 0 11 0 0 0 0 0 22 ...
 $ CONSULTTIME    : int  0 0 2 0 0 2 2 0 0 0 ...
 $ DISPTIME       : int  21 2 1 8 2 1 1 2 100 2 ...
 $ DURATION       : int  629 93 31 122 93 67 35 276 230 131 ...
 $ SEGSTART       : chr  "21.12.2016 02:54:52" "21.12.2016 03:04:59" "21.12.2016 03:06:18" "21.12.2016 03:04:25" ...
 $ SEGSTART_UTC   : chr  "2016-12-20 17:54:52" "2016-12-20 18:04:59" "2016-12-20 18:06:18" "2016-12-20 18:04:25" ...
 $ SEGSTOP        : chr  "2016-12-21 03:05:21" "2016-12-21 03:06:32" "2016-12-21 03:06:49" "2016-12-21 03:07:12" ...
 $ SEGSTOP_UTC    : chr  "2016-12-20 18:05:21" "2016-12-20 18:06:32" "2016-12-20 18:06:49" "2016-12-20 18:07:12" ...
 $ TALKTIME       : int  593 91 0 147 91 0 0 274 130 209 ...
 $ ORIGHOLDTIME   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ QUEUETIME      : int  0 0 0 6 0 0 0 0 98 0 ...
 $ RINGTIME       : int  0 0 0 0 0 0 0 0 0 0 ...
 $ DISPIVECTOR    : int  1211 1215 1003 1711 1215 1003 1003 1112 1215 1112 ...
 $ DISPSPLIT      : int  101 102 0 101 102 0 0 101 102 101 ...
 $ FIRSTVECTOR    : int  102 1215 1003 1711 1215 1003 1003 1112 1215 1112 ...
 $ SPLIT1         : int  101 102 0 101 102 0 0 101 102 101 ...
 $ SPLIT2         : int  -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
 $ SPLIT3         : int  -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...
 $ TKGRP          : int  1 0 0 0 0 0 0 0 0 0 ...
 $ EQ_LOCID       : int  1 0 0 0 0 0 0 0 0 0 ...
 $ ORIG_LOCID     : int  0 0 11 0 0 11 11 0 0 0 ...
 $ ANS_LOCID      : int  11 11 0 11 11 0 0 11 11 11 ...
 $ OBS_LOCID      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ UUI_LEN        : int  0 0 0 0 0 0 0 0 0 0 ...
 $ ASSIST         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ AUDIO          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ CONFERENCE     : int  1 0 0 1 0 0 0 0 0 1 ...
 $ DA_QUEUED      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ HOLDABN        : int  1 0 0 0 0 0 0 0 0 0 ...
 $ MALICIOUS      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ OBSERVINGCALL  : int  0 0 0 0 0 0 0 0 0 0 ...
 $ TRANSFERRED    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ AGT_RELEASED   : int  0 0 0 1 0 0 0 0 0 1 ...
 $ ACD            : int  1 1 1 1 1 1 1 1 1 1 ...
 $ CALL_DISP      : int  2 2 1 2 2 1 1 2 2 2 ...
 $ DISPPRIORITY   : int  4 4 4 4 4 4 4 5 4 5 ...
 $ HELD           : int  4 0 0 2 0 0 0 0 0 4 ...
 $ SEGMENT        : int  2 2 2 2 2 2 2 2 2 2 ...
 $ ANSREASON      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ ORIGREASON     : int  0 0 0 0 0 0 0 0 0 0 ...
 $ DISPSKLEVEL    : int  4 4 0 4 4 0 0 4 4 4 ...
 $ UCID           : num  1.01e+15 1.01e+15 1.01e+15 1.01e+15 1.01e+15 ...
 $ DISPVDN        : int  510211 510215 519103 510711 510215 519103 519103 510112 510215 510112 ...
 $ EQLOC          : Factor w/ 4236 levels "","001V02001",..: 16 1 1 1 1 1 1 1 1 1 ...
 $ FIRSTVDN       : int  500102 510215 519103 510711 510215 519103 519103 510112 510215 510112 ...
 $ ORIGLOGIN      : int  NA NA 200431 NA NA 200352 200119 NA NA NA ...
 $ ANSLOGIN       : int  200508 200591 NA 200331 200116 NA NA 200312 200118 200119 ...
 $ LASTOBSERVER   : int  NA NA NA NA NA NA NA NA NA NA ...
 $ LASTDIGITS     : Factor w/ 14 levels "","#","0","1",..: 4 1 1 1 1 1 1 1 1 1 ...
 $ CALLING_II     : logi  NA NA NA NA NA NA ...
 $ VDN2           : int  510211 NA NA NA NA NA NA NA NA NA ...
 $ VDN3           : int  NA NA NA NA NA NA NA NA NA NA ...
 $ ASAI_UUI       : Factor w/ 2 levels "","\002": 1 1 1 1 1 1 1 1 1 1 ...
 $ AGENTSURPLUS   : int  2 2 0 1 2 0 0 2 1 1 ...
 $ AGENTSKILLLEVEL: int  4 4 0 4 4 0 0 4 4 4 ...

In [41]:
table(is.na(unique(hansol2$CALLID)) == TRUE)

 FALSE
873736

In [40]:
write.csv(hansol8, file="hansoltime.csv", row.names = FALSE)

### 최초 CALLID의 중복을 제거한 것과 수가 같다
### 멍청하지만 어쨌든 하려던 것을 했다는 것을 알 수 있음

## 4. Activity 생성
### 사실 여기부터는 모든 것이 가정임

In [43]:
activity <- select(hansol8, CALLID, ACWTIME, ANSHOLDTIME, CONSULTTIME, DISPTIME, SEGSTART_UTC, SEGSTOP_UTC, 
                   TALKTIME, ORIGHOLDTIME, QUEUETIME, RINGTIME, ORIG_LOCID, CALL_DISP, DURATION)
activity$ACWTIME2 <- activity$ACWTIME
head(activity)

   CALLID  ACWTIME ANSHOLDTIME CONSULTTIME DISPTIME SEGSTART_UTC
6  2340247 0       15          0           21       2016-12-20 17:54:52
16 2340254 0        0          0            2       2016-12-20 18:04:59
18 2340255 0        0          2            1       2016-12-20 18:06:18
23 2340259 1       11          0            8       2016-12-20 18:04:25
26 2340260 0        0          0            2       2016-12-20 18:05:49
42 2340275 0        0          2            1       2016-12-20 18:08:00
   SEGSTOP_UTC         TALKTIME ORIGHOLDTIME QUEUETIME RINGTIME ORIG_LOCID
6  2016-12-20 18:05:21 593      0            0         0         0
16 2016-12-20 18:06:32  91      0            0         0         0
18 2016-12-20 18:06:49   0      0            0         0        11
23 2016-12-20 18:07:12 147      0            6         0         0
26 2016-12-20 18:07:22  91      0            0         0         0
42 2016-12-20 18:09:11   0      0            0         0        11
   CALL_DISP DURATION
6  2         629
16 2          93
18 1          31
23 2         122
26 2          93
42 1          67

### 1) 시간값 연산을 위한 형변환

In [44]:
activity$SEGSTART_UTC <- as.POSIXlt(activity$SEGSTART_UTC)
activity$SEGSTOP_UTC <- as.POSIXlt(activity$SEGSTOP_UTC)

### 2) SEGSTART_UTC에서 빼는 방식으로 RINGTIME, QUEUETIME 연산

In [45]:
activity$QUEUETIME <- activity$SEGSTART_UTC - activity$QUEUETIME
activity$RINGTIME <- activity$QUEUETIME - activity$RINGTIME

### 3) SEGSTART_UTC에서 더하는 방식으로 나머지 시간값을 계산하기 위해 새로운 Column 생성

In [46]:
activity$D <- activity$DISPTIME
activity$C <- activity$CONSULTTIME
activity$A <- activity$ANSHOLDTIME
activity$TT <- activity$TALKTIME

### 4) 더하기 방식으로 시간 계산

In [47]:
activity$DISPTIME <- activity$SEGSTART_UTC
activity$CONSULTTIME <- activity$DISPTIME + activity$D
activity$ANSHOLDTIME <- activity$CONSULTTIME + activity$C
activity$TALKTIME <- activity$ANSHOLDTIME + activity$A
activity$ACWTIME <- activity$TALKTIME + activity$TT

In [48]:
head(activity)

   CALLID  ACWTIME             ANSHOLDTIME         CONSULTTIME
6  2340247 2016-12-20 18:05:21 2016-12-20 17:55:13 2016-12-20 17:55:13
16 2340254 2016-12-20 18:06:32 2016-12-20 18:05:01 2016-12-20 18:05:01
18 2340255 2016-12-20 18:06:21 2016-12-20 18:06:21 2016-12-20 18:06:19
23 2340259 2016-12-20 18:07:11 2016-12-20 18:04:33 2016-12-20 18:04:33
26 2340260 2016-12-20 18:07:22 2016-12-20 18:05:51 2016-12-20 18:05:51
42 2340275 2016-12-20 18:08:03 2016-12-20 18:08:03 2016-12-20 18:08:01
   DISPTIME            SEGSTART_UTC        SEGSTOP_UTC
6  2016-12-20 17:54:52 2016-12-20 17:54:52 2016-12-20 18:05:21
16 2016-12-20 18:04:59 2016-12-20 18:04:59 2016-12-20 18:06:32
18 2016-12-20 18:06:18 2016-12-20 18:06:18 2016-12-20 18:06:49
23 2016-12-20 18:04:25 2016-12-20 18:04:25 2016-12-20 18:07:12
26 2016-12-20 18:05:49 2016-12-20 18:05:49 2016-12-20 18:07:22
42 2016-12-20 18:08:00 2016-12-20 18:08:00 2016-12-20 18:09:11
   TALKTIME            ORIGHOLDTIME QUEUETIME           RINGTIME
6  2016-12-20 17:55:28 0            2016-12-20 17:54:52 2016-12-20 17:54:52
16 2016-12-20 18:05:01 0            2016-12-20 18:04:59 2016-12-20 18:04:59
18 2016-12-20 18:06:21 0            2016-12-20 18:06:18 2016-12-20 18:06:18
23 2016-12-20 18:04:44 0            2016-12-20 18:04:19 2016-12-20 18:04:19
26 2016-12-20 18:05:51 0            2016-12-20 18:05:49 2016-12-20 18:05:49
42 2016-12-20 18:08:03 0            2016-12-20 18:08:00 2016-12-20 18:08:00
   ORIG_LOCID CALL_DISP DURATION D  C A  TT
6   0         2         629      21 0 15 593
16  0         2          93       2 0  0  91
18 11         1          31       1 2  0   0
23  0         2         122       8 0 11 147
26  0         2          93       2 0  0  91
42 11         1          67       1 2  0   0

### 5) 시간 값, CALL_DISP 제외하고 날리기

In [49]:
activity2 <- select(activity, CALLID, ACWTIME, ANSHOLDTIME, CONSULTTIME, DISPTIME, SEGSTART_UTC, SEGSTOP_UTC, TALKTIME, QUEUETIME, RINGTIME, CALL_DISP)
head(activity2)

   CALLID  ACWTIME             ANSHOLDTIME         CONSULTTIME
6  2340247 2016-12-20 18:05:21 2016-12-20 17:55:13 2016-12-20 17:55:13
16 2340254 2016-12-20 18:06:32 2016-12-20 18:05:01 2016-12-20 18:05:01
18 2340255 2016-12-20 18:06:21 2016-12-20 18:06:21 2016-12-20 18:06:19
23 2340259 2016-12-20 18:07:11 2016-12-20 18:04:33 2016-12-20 18:04:33
26 2340260 2016-12-20 18:07:22 2016-12-20 18:05:51 2016-12-20 18:05:51
42 2340275 2016-12-20 18:08:03 2016-12-20 18:08:03 2016-12-20 18:08:01
   DISPTIME            SEGSTART_UTC        SEGSTOP_UTC
6  2016-12-20 17:54:52 2016-12-20 17:54:52 2016-12-20 18:05:21
16 2016-12-20 18:04:59 2016-12-20 18:04:59 2016-12-20 18:06:32
18 2016-12-20 18:06:18 2016-12-20 18:06:18 2016-12-20 18:06:49
23 2016-12-20 18:04:25 2016-12-20 18:04:25 2016-12-20 18:07:12
26 2016-12-20 18:05:49 2016-12-20 18:05:49 2016-12-20 18:07:22
42 2016-12-20 18:08:00 2016-12-20 18:08:00 2016-12-20 18:09:11
   TALKTIME            QUEUETIME           RINGTIME            CALL_DISP
6  2016-12-20 17:55:28 2016-12-20 17:54:52 2016-12-20 17:54:52 2
16 2016-12-20 18:05:01 2016-12-20 18:04:59 2016-12-20 18:04:59 2
18 2016-12-20 18:06:21 2016-12-20 18:06:18 2016-12-20 18:06:18 1
23 2016-12-20 18:04:44 2016-12-20 18:04:19 2016-12-20 18:04:19 2
26 2016-12-20 18:05:51 2016-12-20 18:05:49 2016-12-20 18:05:49 2
42 2016-12-20 18:08:03 2016-12-20 18:08:00 2016-12-20 18:08:00 1

### 6) melt할 때 변환되지 않게 Character로 형변환

In [50]:
activity2$CALLID <- as.character(activity2$CALLID)
activity2$ACWTIME <- as.character(activity2$ACWTIME)
activity2$ANSHOLDTIME <- as.character(activity2$ANSHOLDTIME)
activity2$CONSULTTIME <- as.character(activity2$CONSULTTIME)
activity2$DISPTIME <- as.character(activity2$DISPTIME)
activity2$SEGSTART_UTC <- as.character(activity2$SEGSTART_UTC)
activity2$SEGSTOP_UTC <- as.character(activity2$SEGSTOP_UTC)
activity2$TALKTIME <- as.character(activity2$TALKTIME)
activity2$QUEUETIME <- as.character(activity2$QUEUETIME)
activity2$RINGTIME <- as.character(activity2$RINGTIME)
activity2$CALL_DISP <- as.character(activity2$CALL_DISP)

### 7) CALL_DISP는 나중에 붙이기로 하고 일단 Melt

In [51]:
activity3 <- select(activity2, -CALL_DISP)
head(activity3)

   CALLID  ACWTIME             ANSHOLDTIME         CONSULTTIME
6  2340247 2016-12-20 18:05:21 2016-12-20 17:55:13 2016-12-20 17:55:13
16 2340254 2016-12-20 18:06:32 2016-12-20 18:05:01 2016-12-20 18:05:01
18 2340255 2016-12-20 18:06:21 2016-12-20 18:06:21 2016-12-20 18:06:19
23 2340259 2016-12-20 18:07:11 2016-12-20 18:04:33 2016-12-20 18:04:33
26 2340260 2016-12-20 18:07:22 2016-12-20 18:05:51 2016-12-20 18:05:51
42 2340275 2016-12-20 18:08:03 2016-12-20 18:08:03 2016-12-20 18:08:01
   DISPTIME            SEGSTART_UTC        SEGSTOP_UTC
6  2016-12-20 17:54:52 2016-12-20 17:54:52 2016-12-20 18:05:21
16 2016-12-20 18:04:59 2016-12-20 18:04:59 2016-12-20 18:06:32
18 2016-12-20 18:06:18 2016-12-20 18:06:18 2016-12-20 18:06:49
23 2016-12-20 18:04:25 2016-12-20 18:04:25 2016-12-20 18:07:12
26 2016-12-20 18:05:49 2016-12-20 18:05:49 2016-12-20 18:07:22
42 2016-12-20 18:08:00 2016-12-20 18:08:00 2016-12-20 18:09:11
   TALKTIME            QUEUETIME           RINGTIME
6  2016-12-20 17:55:28 2016-12-20 17:54:52 2016-12-20 17:54:52
16 2016-12-20 18:05:01 2016-12-20 18:04:59 2016-12-20 18:04:59
18 2016-12-20 18:06:21 2016-12-20 18:06:18 2016-12-20 18:06:18
23 2016-12-20 18:04:44 2016-12-20 18:04:19 2016-12-20 18:04:19
26 2016-12-20 18:05:51 2016-12-20 18:05:49 2016-12-20 18:05:49
42 2016-12-20 18:08:03 2016-12-20 18:08:00 2016-12-20 18:08:00

In [53]:
actmelt <- as.data.frame(melt(activity3, id.vars = 1))
str(actmelt)

'data.frame':	7863624 obs. of  3 variables:
 $ CALLID  : chr  "2340247" "2340254" "2340255" "2340259" ...
 $ variable: Factor w/ 9 levels "ACWTIME","ANSHOLDTIME",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ value   : chr  "2016-12-20 18:05:21" "2016-12-20 18:06:32" "2016-12-20 18:06:21" "2016-12-20 18:07:11" ...

In [54]:
colnames(actmelt) <- c("CALLID", "ACTIVITY", "TIMESTAMP")
head(actmelt)

  CALLID  ACTIVITY TIMESTAMP
1 2340247 ACWTIME  2016-12-20 18:05:21
2 2340254 ACWTIME  2016-12-20 18:06:32
3 2340255 ACWTIME  2016-12-20 18:06:21
4 2340259 ACWTIME  2016-12-20 18:07:11
5 2340260 ACWTIME  2016-12-20 18:07:22
6 2340275 ACWTIME  2016-12-20 18:08:03

## 5. actmelt에 CALL_DISP 붙이기

In [55]:
actcall <- actmelt[actmelt$ACTIVITY == "DISPTIME", ]
str(actcall)

'data.frame':	873736 obs. of  3 variables:
 $ CALLID   : chr  "2340247" "2340254" "2340255" "2340259" ...
 $ ACTIVITY : Factor w/ 9 levels "ACWTIME","ANSHOLDTIME",..: 4 4 4 4 4 4 4 4 4 4 ...
 $ TIMESTAMP: chr  "2016-12-20 17:54:52" "2016-12-20 18:04:59" "2016-12-20 18:06:18" "2016-12-20 18:04:25" ...

In [56]:
dispcall <- select(hansol8, CALLID, CALL_DISP)
head(dispcall)

   CALLID  CALL_DISP
6  2340247 2
16 2340254 2
18 2340255 1
23 2340259 2
26 2340260 2
42 2340275 1

In [57]:
dispcall$CALLID <- as.character(dispcall$CALLID)
meltdisp <- left_join(actcall, dispcall, by = c("CALLID" = "CALLID"))
head(meltdisp)

  CALLID  ACTIVITY TIMESTAMP           CALL_DISP
1 2340247 DISPTIME 2016-12-20 17:54:52 2
2 2340254 DISPTIME 2016-12-20 18:04:59 2
3 2340255 DISPTIME 2016-12-20 18:06:18 1
4 2340259 DISPTIME 2016-12-20 18:04:25 2
5 2340260 DISPTIME 2016-12-20 18:05:49 2
6 2340275 DISPTIME 2016-12-20 18:08:00 1

In [58]:
meltdisp$DISPNAME <- "a"
meltdisp$DISPNAME <- ifelse(meltdisp$CALL_DISP == 1, "DISP_CONN", meltdisp$DISPNAME)
meltdisp$DISPNAME <- ifelse(meltdisp$CALL_DISP == 2, "DISP_ANS", meltdisp$DISPNAME)
meltdisp$DISPNAME <- ifelse(meltdisp$CALL_DISP == 3, "DISP_ABAN", meltdisp$DISPNAME)
meltdisp$DISPNAME <- ifelse(meltdisp$CALL_DISP == 4, "DISP_IFLOW", meltdisp$DISPNAME)
meltdisp$DISPNAME <- ifelse(meltdisp$CALL_DISP == 5, "DISP_FBUSY", meltdisp$DISPNAME)
meltdisp$DISPNAME <- ifelse(meltdisp$CALL_DISP == 6, "DISP_FDISC", meltdisp$DISPNAME)
meltdisp$DISPNAME <- ifelse(meltdisp$CALL_DISP == 7, "DISP_OTHER", meltdisp$DISPNAME)
head(meltdisp)

  CALLID  ACTIVITY TIMESTAMP           CALL_DISP DISPNAME
1 2340247 DISPTIME 2016-12-20 17:54:52 2         DISP_ANS
2 2340254 DISPTIME 2016-12-20 18:04:59 2         DISP_ANS
3 2340255 DISPTIME 2016-12-20 18:06:18 1         DISP_CONN
4 2340259 DISPTIME 2016-12-20 18:04:25 2         DISP_ANS
5 2340260 DISPTIME 2016-12-20 18:05:49 2         DISP_ANS
6 2340275 DISPTIME 2016-12-20 18:08:00 1         DISP_CONN

In [59]:
table(meltdisp$DISPNAME)
table(meltdisp$CALL_DISP)

 DISP_ABAN   DISP_ANS  DISP_CONN DISP_FDISC DISP_OTHER
    119851     205012     478671       4987      65215

     1      2      3      6      7
478671 205012 119851   4987  65215

In [60]:
meltdisp$ACTIVITY <- meltdisp$DISPNAME
meltdisp <- select(meltdisp, -CALL_DISP, -DISPNAME)
head(meltdisp)

  CALLID  ACTIVITY  TIMESTAMP
1 2340247 DISP_ANS  2016-12-20 17:54:52
2 2340254 DISP_ANS  2016-12-20 18:04:59
3 2340255 DISP_CONN 2016-12-20 18:06:18
4 2340259 DISP_ANS  2016-12-20 18:04:25
5 2340260 DISP_ANS  2016-12-20 18:05:49
6 2340275 DISP_CONN 2016-12-20 18:08:00

In [61]:
actmelt2 <- actmelt[actmelt$ACTIVITY != "DISPTIME", ]
table(actmelt2$ACTIVITY)

     ACWTIME  ANSHOLDTIME  CONSULTTIME     DISPTIME SEGSTART_UTC  SEGSTOP_UTC
      873736       873736       873736            0       873736       873736
    TALKTIME    QUEUETIME     RINGTIME
      873736       873736       873736

In [62]:
actmelt2 <- rbind(meltdisp, actmelt2)
str(actmelt2)

'data.frame':	7863624 obs. of  3 variables:
 $ CALLID   : chr  "2340247" "2340254" "2340255" "2340259" ...
 $ ACTIVITY : chr  "DISP_ANS" "DISP_ANS" "DISP_CONN" "DISP_ANS" ...
 $ TIMESTAMP: chr  "2016-12-20 17:54:52" "2016-12-20 18:04:59" "2016-12-20 18:06:18" "2016-12-20 18:04:25" ...

In [64]:
table(actmelt2$ACTIVITY)

     ACWTIME  ANSHOLDTIME  CONSULTTIME    DISP_ABAN     DISP_ANS    DISP_CONN
      873736       873736       873736       119851       205012       478671
  DISP_FDISC   DISP_OTHER    QUEUETIME     RINGTIME SEGSTART_UTC  SEGSTOP_UTC
        4987        65215       873736       873736       873736       873736
    TALKTIME
      873736

In [65]:
write.csv(actmelt2, file = "hansol3.csv", row.names = FALSE)

## 6. START, STOP을 날려보자

In [66]:
actmelt3 <- actmelt2[actmelt2$ACTIVITY != "SEGSTART_UTC", ]
actmelt3 <- actmelt3[actmelt3$ACTIVITY != "SEGSTOP_UTC", ]
table(actmelt3$ACTIVITY)

    ACWTIME ANSHOLDTIME CONSULTTIME   DISP_ABAN    DISP_ANS   DISP_CONN
     873736      873736      873736      119851      205012      478671
 DISP_FDISC  DISP_OTHER   QUEUETIME    RINGTIME    TALKTIME
       4987       65215      873736      873736      873736

In [67]:
write.csv(actmelt3, file = "hansol4.csv", row.names = FALSE)

## 7. 상담원 ID를 넣어보자

In [69]:
marketer <- select(hansol8, CALLID, ORIGLOGIN, ANSLOGIN)
head(marketer, 20)

    CALLID  ORIGLOGIN ANSLOGIN
6   2340247     NA    200508
16  2340254     NA    200591
18  2340255 200431        NA
23  2340259     NA    200331
26  2340260     NA    200116
42  2340275 200352        NA
46  2340278 200119        NA
50  2340197     NA    200312
53  2340199     NA    200118
56  2340201     NA    200119
62  2340204 200124        NA
66  2340207 200334        NA
79  2340219     NA    200116
81  2340220 200333        NA
87  2340225 200587        NA
90  2340227 200117        NA
99  2340233 200431        NA
101 2340234 200120        NA
104 2340235 200331        NA
107 2340236     NA    200123

In [70]:
table(is.na(marketer$ORIGLOGIN) == TRUE)
table(is.na(marketer$ANSLOGIN) == TRUE)

 FALSE   TRUE
121554 752182

 FALSE   TRUE
205218 668518

In [71]:
marketer$LOGID <- ifelse(is.na(marketer$ORIGLOGIN) == TRUE, marketer$ANSLOGIN, marketer$ORIGLOGIN)
table(is.na(marketer$LOGID) == TRUE)

 FALSE   TRUE
326744 546992

In [72]:
head(actmelt3)

  CALLID  ACTIVITY  TIMESTAMP
1 2340247 DISP_ANS  2016-12-20 17:54:52
2 2340254 DISP_ANS  2016-12-20 18:04:59
3 2340255 DISP_CONN 2016-12-20 18:06:18
4 2340259 DISP_ANS  2016-12-20 18:04:25
5 2340260 DISP_ANS  2016-12-20 18:05:49
6 2340275 DISP_CONN 2016-12-20 18:08:00

In [73]:
marketer$CALLID <- as.character(marketer$CALLID)
actmelt4 <- left_join(actmelt3, marketer, by = c("CALLID" = "CALLID"))
head(actmelt4)

  CALLID  ACTIVITY  TIMESTAMP           ORIGLOGIN ANSLOGIN LOGID
1 2340247 DISP_ANS  2016-12-20 17:54:52     NA    200508   200508
2 2340254 DISP_ANS  2016-12-20 18:04:59     NA    200591   200591
3 2340255 DISP_CONN 2016-12-20 18:06:18 200431        NA   200431
4 2340259 DISP_ANS  2016-12-20 18:04:25     NA    200331   200331
5 2340260 DISP_ANS  2016-12-20 18:05:49     NA    200116   200116
6 2340275 DISP_CONN 2016-12-20 18:08:00 200352        NA   200352

## 8. LOCID를 넣어보자

In [74]:
locid <- select(hansol8, CALLID, EQ_LOCID, ORIG_LOCID, ANS_LOCID, OBS_LOCID)
head(locid)

   CALLID  EQ_LOCID ORIG_LOCID ANS_LOCID OBS_LOCID
6  2340247 1         0         11        0
16 2340254 0         0         11        0
18 2340255 0        11          0        0
23 2340259 0         0         11        0
26 2340260 0         0         11        0
42 2340275 0        11          0        0

In [75]:
table(locid$EQ_LOCID == 0)
table(locid$ORIG_LOCID == 0)
table(locid$ANS_LOCID == 0)
table(locid$OBS_LOCID == 0)

 FALSE   TRUE
373050 500686

 FALSE   TRUE
121554 752182

 FALSE   TRUE
205218 668518

 FALSE   TRUE
    43 873693

In [61]:
## NULL이 너무 많아서 의미가 없을 것 같음

## 9. ~~ 여부를 넣어 보자

In [76]:
flag <- select(hansol8, CALLID, UUI_LEN, ASSIST, AUDIO, CONFERENCE, DA_QUEUED, HOLDABN, MALICIOUS, OBSERVINGCALL, TRANSFERRED, AGT_RELEASED)
head(flag)

   CALLID  UUI_LEN ASSIST AUDIO CONFERENCE DA_QUEUED HOLDABN MALICIOUS
6  2340247 0       0      0     1          0         1       0
16 2340254 0       0      0     0          0         0       0
18 2340255 0       0      0     0          0         0       0
23 2340259 0       0      0     1          0         0       0
26 2340260 0       0      0     0          0         0       0
42 2340275 0       0      0     0          0         0       0
   OBSERVINGCALL TRANSFERRED AGT_RELEASED
6  0             0           0
16 0             0           0
18 0             0           0
23 0             0           1
26 0             0           0
42 0             0           0

In [77]:
flag$CALLID <- as.character(flag$CALLID)
actmelt5 <- left_join(actmelt4, flag, by = c("CALLID" = "CALLID"))
head(actmelt5)

actmelt5 <- select(actmelt5, -UUI_LEN)
head(actmelt5)

  CALLID  ACTIVITY  TIMESTAMP           ORIGLOGIN ANSLOGIN LOGID  UUI_LEN
1 2340247 DISP_ANS  2016-12-20 17:54:52     NA    200508   200508 0
2 2340254 DISP_ANS  2016-12-20 18:04:59     NA    200591   200591 0
3 2340255 DISP_CONN 2016-12-20 18:06:18 200431        NA   200431 0
4 2340259 DISP_ANS  2016-12-20 18:04:25     NA    200331   200331 0
5 2340260 DISP_ANS  2016-12-20 18:05:49     NA    200116   200116 0
6 2340275 DISP_CONN 2016-12-20 18:08:00 200352        NA   200352 0
  ASSIST AUDIO CONFERENCE DA_QUEUED HOLDABN MALICIOUS OBSERVINGCALL TRANSFERRED
1 0      0     1          0         1       0         0             0
2 0      0     0          0         0       0         0             0
3 0      0     0          0         0       0         0             0
4 0      0     1          0         0       0         0             0
5 0      0     0          0         0       0         0             0
6 0      0     0          0         0       0         0             0
  AGT_RELEASED
1 0
2 0
3 0
4 1
5 0
6 0

  CALLID  ACTIVITY  TIMESTAMP           ORIGLOGIN ANSLOGIN LOGID  ASSIST AUDIO
1 2340247 DISP_ANS  2016-12-20 17:54:52     NA    200508   200508 0      0
2 2340254 DISP_ANS  2016-12-20 18:04:59     NA    200591   200591 0      0
3 2340255 DISP_CONN 2016-12-20 18:06:18 200431        NA   200431 0      0
4 2340259 DISP_ANS  2016-12-20 18:04:25     NA    200331   200331 0      0
5 2340260 DISP_ANS  2016-12-20 18:05:49     NA    200116   200116 0      0
6 2340275 DISP_CONN 2016-12-20 18:08:00 200352        NA   200352 0      0
  CONFERENCE DA_QUEUED HOLDABN MALICIOUS OBSERVINGCALL TRANSFERRED AGT_RELEASED
1 1          0         1       0         0             0           0
2 0          0         0       0         0             0           0
3 0          0         0       0         0             0           0
4 1          0         0       0         0             0           1
5 0          0         0       0         0             0           0
6 0          0         0       0         0             0           0

## 10. 한국말로 바꿔보자

In [78]:
colnames(actmelt5) <- c("CALLID", "ACTIVITY", "TIMESTAMP", "발신상담원", "응답상담원", "발신응답상담원", "보조요청여부", "난청여부", "컨퍼런스여부", "직접상담원통화대기여부", "보류중포기여부", "불량통화추적활성화여부", "감청여부", "호전환여부", "상담원에의한종료여부")

In [79]:
head(actmelt5)

  CALLID  ACTIVITY  TIMESTAMP           발신상담원 응답상담원 발신응답상담원
1 2340247 DISP_ANS  2016-12-20 17:54:52     NA     200508     200508
2 2340254 DISP_ANS  2016-12-20 18:04:59     NA     200591     200591
3 2340255 DISP_CONN 2016-12-20 18:06:18 200431         NA     200431
4 2340259 DISP_ANS  2016-12-20 18:04:25     NA     200331     200331
5 2340260 DISP_ANS  2016-12-20 18:05:49     NA     200116     200116
6 2340275 DISP_CONN 2016-12-20 18:08:00 200352         NA     200352
  보조요청여부 난청여부 컨퍼런스여부 직접상담원통화대기여부 보류중포기여부
1 0            0        1            0                      1
2 0            0        0            0                      0
3 0            0        0            0                      0
4 0            0        1            0                      0
5 0            0        0            0                      0
6 0            0        0            0                      0
  불량통화추적활성화여부 감청여부 호전환여부 상담원에의한종료여부
1 0                      0        0          0
2 0                      0        0          0
3 0                      0        0          0
4 0                      0        0          1
5 0                      0        0          0
6 0                      0        0          0

In [81]:
table(actmelt5$ACTIVITY)
class(actmelt5$ACTIVITY)
actmelt5$ACTIVITY <- as.character(actmelt5$ACTIVITY)
class(actmelt5$ACTIVITY)

    ACWTIME ANSHOLDTIME CONSULTTIME   DISP_ABAN    DISP_ANS   DISP_CONN
     873736      873736      873736      119851      205012      478671
 DISP_FDISC  DISP_OTHER   QUEUETIME    RINGTIME    TALKTIME
       4987       65215      873736      873736      873736

[1] "character"

[1] "character"

In [82]:
actmelt5$ACTIVITY <- ifelse(actmelt5$ACTIVITY == "ACWTIME", "후처리", actmelt5$ACTIVITY)
actmelt5$ACTIVITY <- ifelse(actmelt5$ACTIVITY == "ANSHOLDTIME", "응대중보류", actmelt5$ACTIVITY)
actmelt5$ACTIVITY <- ifelse(actmelt5$ACTIVITY == "CONSULTTIME", "컨설팅", actmelt5$ACTIVITY)
actmelt5$ACTIVITY <- ifelse(actmelt5$ACTIVITY == "DISP_ABAN", "콜처리_포기", actmelt5$ACTIVITY)
actmelt5$ACTIVITY <- ifelse(actmelt5$ACTIVITY == "DISP_ANS", "콜처리_응답", actmelt5$ACTIVITY)
actmelt5$ACTIVITY <- ifelse(actmelt5$ACTIVITY == "DISP_CONN", "콜처리_연결", actmelt5$ACTIVITY)
actmelt5$ACTIVITY <- ifelse(actmelt5$ACTIVITY == "DISP_FDISC", "콜처리_강제종료", actmelt5$ACTIVITY)
actmelt5$ACTIVITY <- ifelse(actmelt5$ACTIVITY == "DISP_OTHER", "기타", actmelt5$ACTIVITY)
actmelt5$ACTIVITY <- ifelse(actmelt5$ACTIVITY == "QUEUETIME", "큐대기", actmelt5$ACTIVITY)
actmelt5$ACTIVITY <- ifelse(actmelt5$ACTIVITY == "RINGTIME", "벨울림", actmelt5$ACTIVITY)
actmelt5$ACTIVITY <- ifelse(actmelt5$ACTIVITY == "TALKTIME", "응대", actmelt5$ACTIVITY)

head(actmelt5, 12)

   CALLID  ACTIVITY    TIMESTAMP           발신상담원 응답상담원 발신응답상담원
1  2340247 콜처리_응답 2016-12-20 17:54:52     NA     200508     200508
2  2340254 콜처리_응답 2016-12-20 18:04:59     NA     200591     200591
3  2340255 콜처리_연결 2016-12-20 18:06:18 200431         NA     200431
4  2340259 콜처리_응답 2016-12-20 18:04:25     NA     200331     200331
5  2340260 콜처리_응답 2016-12-20 18:05:49     NA     200116     200116
6  2340275 콜처리_연결 2016-12-20 18:08:00 200352         NA     200352
7  2340278 콜처리_연결 2016-12-20 18:08:52 200119         NA     200119
8  2340197 콜처리_응답 2016-12-20 17:57:11     NA     200312     200312
9  2340199 콜처리_응답 2016-12-20 17:58:03     NA     200118     200118
10 2340201 콜처리_응답 2016-12-20 17:58:02     NA     200119     200119
11 2340204 콜처리_연결 2016-12-20 18:01:37 200124         NA     200124
12 2340207 콜처리_연결 2016-12-20 18:01:21 200334         NA     200334
   보조요청여부 난청여부 컨퍼런스여부 직접상담원통화대기여부 보류중포기여부
1  0            0        1            0                      1
2  0            0        0            0                      0
3  0            0        0            0                      0
4  0            0        1            0                      0
5  0            0        0            0                      0
6  0            0        0            0                      0
7  0            0        0            0                      0
8  0            0        0            0                      0
9  0            0        0            0                      0
10 0            0        1            0                      0
11 0            0        0            0                      0
12 0            0        0            0                      0
   불량통화추적활성화여부 감청여부 호전환여부 상담원에의한종료여부
1  0                      0        0          0
2  0                      0        0          0
3  0                      0        0          0
4  0                      0        0          1
5  0                      0        0          0
6  0                      0        0          0
7  0                      0        0          0
8  0                      0        0          0
9  0                      0        0          0
10 0                      0        0          1
11 0                      0        0          0
12 0                      0        0          0

In [96]:
actmelt6 <- actmelt5
class(actmelt6$TIMESTAMP)

[1] "character"

In [98]:
actmelt6 <- arrange(actmelt6, CALLID, TIMESTAMP)
head(actmelt6, 20)

   CALLID  ACTIVITY    TIMESTAMP           발신상담원 응답상담원 발신응답상담원
1  2340195 콜처리_연결 2016-12-20 18:00:16 NA             NA         NA
2  2340195 큐대기      2016-12-20 18:00:16 NA             NA         NA
3  2340195 벨울림      2016-12-20 18:00:16 NA             NA         NA
4  2340195 후처리      2016-12-20 18:00:36 NA             NA         NA
5  2340195 응대중보류  2016-12-20 18:00:36 NA             NA         NA
6  2340195 컨설팅      2016-12-20 18:00:36 NA             NA         NA
7  2340195 응대        2016-12-20 18:00:36 NA             NA         NA
8  2340196 큐대기      2016-12-20 18:01:23 NA             NA         NA
9  2340196 벨울림      2016-12-20 18:01:23 NA             NA         NA
10 2340196 콜처리_연결 2016-12-20 18:01:24 NA             NA         NA
11 2340196 후처리      2016-12-20 18:01:47 NA             NA         NA
12 2340196 응대중보류  2016-12-20 18:01:47 NA             NA         NA
13 2340196 컨설팅      2016-12-20 18:01:47 NA             NA         NA
14 2340196 응대        2016-12-20 18:01:47 NA             NA         NA
15 2340197 콜처리_응답 2016-12-20 17:57:11 NA         200312     200312
16 2340197 큐대기      2016-12-20 17:57:11 NA         200312     200312
17 2340197 벨울림      2016-12-20 17:57:11 NA         200312     200312
18 2340197 응대중보류  2016-12-20 17:57:13 NA         200312     200312
19 2340197 컨설팅      2016-12-20 17:57:13 NA         200312     200312
20 2340197 응대        2016-12-20 17:57:13 NA         200312     200312
   보조요청여부 난청여부 컨퍼런스여부 직접상담원통화대기여부 보류중포기여부
1  0            0        0            0                      0
2  0            0        0            0                      0
3  0            0        0            0                      0
4  0            0        0            0                      0
5  0            0        0            0                      0
6  0            0        0            0                      0
7  0            0        0            0                      0
8  0            0        0            0                      0
9  0            0        0            0                      0
10 0            0        0            0                      0
11 0            0        0            0                      0
12 0            0        0            0                      0
13 0            0        0            0                      0
14 0            0        0            0                      0
15 0            0        0            0                      0
16 0            0        0            0                      0
17 0            0        0            0                      0
18 0            0        0            0                      0
19 0            0        0            0                      0
20 0            0        0            0                      0
   불량통화추적활성화여부 감청여부 호전환여부 상담원에의한종료여부
1  0                      0        0          0
2  0                      0        0          0
3  0                      0        0          0
4  0                      0        0          0
5  0                      0        0          0
6  0                      0        0          0
7  0                      0        0          0
8  0                      0        0          0
9  0                      0        0          0
10 0                      0        0          0
11 0                      0        0          0
12 0                      0        0          0
13 0                      0        0          0
14 0                      0        0          0
15 0                      0        0          0
16 0                      0        0          0
17 0                      0        0          0
18 0                      0        0          0
19 0                      0        0          0
20 0                      0        0          0

In [67]:
write.csv(actmelt5, file = "hansol6.csv", row.names = FALSE)

## 11. ~여부에 YES, NO 넣기

In [2]:
han <- read.csv("C:\\Users\\진수빈\\hansol6.csv")
head(han)

  CALLID  ACTIVITY  TIMESTAMP           발신상담원 응답상담원 발신응답상담원
1 2340247 DISP_ANS  2016-12-20 17:54:52     NA     200508     200508
2 2340254 DISP_ANS  2016-12-20 18:04:59     NA     200591     200591
3 2340255 DISP_CONN 2016-12-20 18:06:18 200431         NA     200431
4 2340259 DISP_ANS  2016-12-20 18:04:25     NA     200331     200331
5 2340260 DISP_ANS  2016-12-20 18:05:49     NA     200116     200116
6 2340275 DISP_CONN 2016-12-20 18:08:00 200352         NA     200352
  보조요청여부 난청여부 컨퍼런스여부 직접상담원통화대기여부 보류중포기여부
1 0            0        1            0                      1
2 0            0        0            0                      0
3 0            0        0            0                      0
4 0            0        1            0                      0
5 0            0        0            0                      0
6 0            0        0            0                      0
  불량통화추적활성화여부 감청여부 호전환여부 상담원에의한종료여부
1 0                      0        0          0
2 0                      0        0          0
3 0                      0        0          0
4 0                      0        0          1
5 0                      0        0          0
6 0                      0        0          0

In [3]:
table(han$보조요청여부) # all 0
table(han$난청여부) # all 0
table(han$컨퍼런스여부)
table(han$직접상담원통화대기여부) # all 0
table(han$보류중포기여부)
table(han$불량통화추적활성화여부) # all 0
table(han$감청여부)
table(han$호전환여부)
table(han$상담원에의한종료여부)

      0
6116152

      0
6116152

      0       1
5908497  207655

      0
6116152

      0       1
6112778    3374

      0
6116152

      0       1
6115648     504

      0       1
6087606   28546

      0       1
5893524  222628

In [4]:
han$보조요청여부 <- ifelse(han$보조요청여부 == 1, "YES", "NO")
han$난청여부 <- ifelse(han$난청여부 == 1, "YES", "NO")
han$컨퍼런스여부 <- ifelse(han$컨퍼런스여부 == 1, "YES", "NO")
han$직접상담원통화대기여부 <- ifelse(han$직접상담원통화대기여부 == 1, "YES", "NO")
han$보류중포기여부 <- ifelse(han$보류중포기여부 == 1, "YES", "NO")
han$불량통화추적활성화여부 <- ifelse(han$불량통화추적활성화여부 == 1, "YES", "NO")
han$감청여부 <- ifelse(han$감청여부 == 1, "YES", "NO")
han$호전환여부 <- ifelse(han$호전환여부 == 1, "YES", "NO")
han$상담원에의한종료여부 <- ifelse(han$상담원에의한종료여부 == 1, "YES", "NO")
head(han)

  CALLID  ACTIVITY  TIMESTAMP           발신상담원 응답상담원 발신응답상담원
1 2340247 DISP_ANS  2016-12-20 17:54:52     NA     200508     200508
2 2340254 DISP_ANS  2016-12-20 18:04:59     NA     200591     200591
3 2340255 DISP_CONN 2016-12-20 18:06:18 200431         NA     200431
4 2340259 DISP_ANS  2016-12-20 18:04:25     NA     200331     200331
5 2340260 DISP_ANS  2016-12-20 18:05:49     NA     200116     200116
6 2340275 DISP_CONN 2016-12-20 18:08:00 200352         NA     200352
  보조요청여부 난청여부 컨퍼런스여부 직접상담원통화대기여부 보류중포기여부
1 NO           NO       YES          NO                     YES
2 NO           NO       NO           NO                     NO
3 NO           NO       NO           NO                     NO
4 NO           NO       YES          NO                     NO
5 NO           NO       NO           NO                     NO
6 NO           NO       NO           NO                     NO
  불량통화추적활성화여부 감청여부 호전환여부 상담원에의한종료여부
1 NO                     NO       NO         NO
2 NO                     NO       NO         NO
3 NO                     NO       NO         NO
4 NO                     NO       NO         YES
5 NO                     NO       NO         NO
6 NO                     NO       NO         NO

In [7]:
han2 <- select(han, -보조요청여부, -난청여부, -직접상담원통화대기여부, -불량통화추적활성화여부)
head(han2)

  CALLID  ACTIVITY  TIMESTAMP           발신상담원 응답상담원 발신응답상담원
1 2340247 DISP_ANS  2016-12-20 17:54:52     NA     200508     200508
2 2340254 DISP_ANS  2016-12-20 18:04:59     NA     200591     200591
3 2340255 DISP_CONN 2016-12-20 18:06:18 200431         NA     200431
4 2340259 DISP_ANS  2016-12-20 18:04:25     NA     200331     200331
5 2340260 DISP_ANS  2016-12-20 18:05:49     NA     200116     200116
6 2340275 DISP_CONN 2016-12-20 18:08:00 200352         NA     200352
  컨퍼런스여부 보류중포기여부 감청여부 호전환여부 상담원에의한종료여부
1 YES          YES            NO       NO         NO
2 NO           NO             NO       NO         NO
3 NO           NO             NO       NO         NO
4 YES          NO             NO       NO         YES
5 NO           NO             NO       NO         NO
6 NO           NO             NO       NO         NO

## 12. 0초 Activity 삭제하자
### 그런데 생각해 보면 이게 의미없는 일임
### 왜냐하면 이걸 하려면 endtime의 개념이 있어야하는데 없음
### 아니네 0초면 삭제하는거니까
### 다시 계획을 세워봄
### Arrange
### Time 한행씩 밀기
### 같으면 날리기

In [8]:
han3 <- arrange(han2, CALLID, TIMESTAMP)
head(han3, 10)

   CALLID  ACTIVITY    TIMESTAMP           발신상담원 응답상담원 발신응답상담원
1  2340195 DISP_CONN   2016-12-20 18:00:16 NA         NA         NA
2  2340195 QUEUETIME   2016-12-20 18:00:16 NA         NA         NA
3  2340195 RINGTIME    2016-12-20 18:00:16 NA         NA         NA
4  2340195 ACWTIME     2016-12-20 18:00:36 NA         NA         NA
5  2340195 ANSHOLDTIME 2016-12-20 18:00:36 NA         NA         NA
6  2340195 CONSULTTIME 2016-12-20 18:00:36 NA         NA         NA
7  2340195 TALKTIME    2016-12-20 18:00:36 NA         NA         NA
8  2340196 QUEUETIME   2016-12-20 18:01:23 NA         NA         NA
9  2340196 RINGTIME    2016-12-20 18:01:23 NA         NA         NA
10 2340196 DISP_CONN   2016-12-20 18:01:24 NA         NA         NA
   컨퍼런스여부 보류중포기여부 감청여부 호전환여부 상담원에의한종료여부
1  NO           NO             NO       NO         NO
2  NO           NO             NO       NO         NO
3  NO           NO             NO       NO         NO
4  NO           NO             NO       NO         NO
5  NO           NO             NO       NO         NO
6  NO           NO             NO       NO         NO
7  NO           NO             NO       NO         NO
8  NO           NO             NO       NO         NO
9  NO           NO             NO       NO         NO
10 NO           NO             NO       NO         NO